@if (pageIsLoading()) {
  <app-stack align="center">
    <app-loading />
  </app-stack>
} @else {
  <div class="layout-stack h-dvh">
    <app-header-shell
      ><div class="inset-md">
        <app-row justify="center">
          <h1 class="text-headline font-roboto text-center">
            Select Meal Category
          </h1>
        </app-row>
      </div></app-header-shell
    >
    <app-page-layout>
      <app-section>
        <app-stack variant="compact">
          @for (mealCategory of dbMealCategoriesSorted(); track $index) {
            <div
              class="w-full rounded inset-inline-md surface-2 surface-interactive"
              (click)="selectMealCategory(mealCategory.id)"
            >
              <app-row>
                <span>{{ mealCategory.name | capitalize }}</span>

                @if (mealCategoryId() === mealCategory.id) {
                  <i
                    class="fa-solid fa-check fa-xl text-primary dark:text-primary-dark"
                  ></i>
                }
              </app-row>
            </div>
          }
        </app-stack>
      </app-section>
    </app-page-layout>

    <div class="inset-md">
      <app-button [fullWidth]="true" (clicked)="openInputModal($event)">
        <app-inline>
          <i class="fa-solid fa-plus text-xl"></i
          ><span>Add new meal category</span>
        </app-inline>
      </app-button>
    </div>
  </div>
}
