<div class="items-container">
  <ul>
    @for (recipeCategory of dbRecipeCategories(); track $index) {
      <li>
        <span>{{ recipeCategory.name | capitalize }}</span>
        <div class="buttons-container">
          <button type="button">
            <button
              type="button"
              (click)="openModalUpdateRecipeCategory(recipeCategory)"
            >
              <i
                class="fa-regular fa-pen-to-square text-primary-600 dark:text-primary-500 text-xl"
              ></i>
            </button>
          </button>
          <button
            type="button"
            (click)="openDeleteModal($event, recipeCategory.id)"
          >
            <i
              class="fa-regular fa-trash-can text-danger-600 dark:text-danger-500 text-xl"
            ></i>
          </button>
        </div>
      </li>
    }
  </ul>
</div>

<button
  class="bg-secondary-600 rounded-full p-2 w-12 h-12 text-white fixed bottom-24 right-6 shadow-lg"
  (click)="openModalAddRecipeCategory()"
>
  <i class="fa-solid fa-plus fa-xl"></i>
</button>

<!-- <app-modal-input
  title="Enter new recipe category"
  [inputValue]="recipeCategoryName()"
  [existingItems]="dbRecipeCategories()"
  btnConfirmText="Apply"
  btnConfirmColor="primary"
  [isModalOpen]="showModalAddRecipeCategory()"
  (confirmEventTest)="onConfirmModalAddRecipeCategory($event)"
/>

<app-modal-input
  title="Update Recipe Category"
  [inputValue]="recipeCategoryNameToUpdate()"
  [existingItems]="dbRecipeCategories()"
  btnConfirmText="Update"
  btnConfirmColor="primary"
  [isModalOpen]="showModalUpdateRecipeCategory()"
  (confirmEventTest)="onConfirmModalUpdateRecipeCategory($event)"
/> -->

<div class="flex flex-col items-center">
  @if (canShowPage()) {
    <app-loading />
  }
</div>
