<app-section [surface]="3">
  <app-stack variant="page">
    <h1 class="text-headline font-roboto text-center">
      {{ name() }}
    </h1>

    <app-stack variant="section">
      <label class="text-title">List of ingredients</label>

      <app-row>
        <app-inline [wrap]="true">
          @for (ing of ingredients(); track ing) {
            <app-tag variant="outline" color="neutral">{{ ing }}</app-tag>
          }
        </app-inline>
      </app-row>
    </app-stack>

    <app-row>
      <app-button [fullWidth]="true" (clicked)="onClose()">Close</app-button>
    </app-row>
  </app-stack>
</app-section>
