<app-section [surface]="3">
  <app-stack variant="page">
    <h1 class="text-headline font-roboto text-center">
      {{ name() }}
    </h1>

    <app-section [surface]="2" [shadow]="false">
      <app-stack variant="section">
        <label class="text-title">Ingredients</label>

        <app-row>
          <app-inline [wrap]="true">
            @for (ingredient of ingredients(); track ingredient) {
              <app-tag variant="outline" color="neutral">{{
                ingredient
              }}</app-tag>
            }
          </app-inline>
        </app-row>
      </app-stack>
    </app-section>

    <app-section [surface]="2" [shadow]="false">
      <app-stack variant="section">
        <label class="text-title">Instructions</label>

        <app-row>
          <app-stack>
            @for (
              intstruction of instructions();
              track intstruction;
              let i = $index
            ) {
              <span>Step {{ i + 1 }}: {{ intstruction }}</span>
            }
          </app-stack>
        </app-row>
      </app-stack>
    </app-section>

    <app-row>
      <app-button [fullWidth]="true" (clicked)="onClose()">Close</app-button>
    </app-row>
  </app-stack>
</app-section>
