<div class="relative inline-block">
  <app-button variant="outline" shape="pill" size="sm" (click)="toggle()">{{
    servings()()
  }}</app-button>

  @if (isOpen()) {
    <div class="popover-container">
      <div class="people">
        <app-row>
          <app-button variant="ghost" size="md" (clicked)="decreaseServings()"
            ><i class="fa-solid fa-minus"></i
          ></app-button>
          <span>{{ servingsUi() }}</span>
          <app-button variant="ghost" size="md" (clicked)="increaseServings()"
            ><i class="fa-solid fa-plus"></i
          ></app-button>
        </app-row>
      </div>
      <app-inline>
        <app-button variant="outline" size="sm" (clicked)="close()"
          >Cancel</app-button
        >
        <app-button size="sm" (clicked)="validate()">Validate</app-button>
      </app-inline>
    </div>
  }
</div>
