<app-card inset="sm" [interactive]="true" [activated]="activated()">
  <app-stack variant="section">
    <app-stack>
      <header class="-margin-sm mb-0">
        @if (recipeState?.thumbnailUrl) {
          <figure class="rounded-lg rounded-b-none overflow-hidden relative">
            <img
              [src]="recipeState?.thumbnailUrl"
              [alt]="recipeState?.title"
              loading="lazy"
              class="card-image"
            />
            <app-tag
              color="neutral"
              size="xs"
              class="absolute top-1 left-1 opacity-80"
            >
              <span>{{ mealCategoryName() }}</span>
            </app-tag>
          </figure>
        } @else {
          <figure
            class="card-image-empty layout-row--center relative"
            aria-label="No image available"
          >
            <div class="text-2xl">
              <i
                class="fa-solid fa-mortar-pestle fa-2xl"
                aria-hidden="true"
              ></i>
            </div>
            <app-tag
              color="neutral"
              size="xs"
              class="absolute top-1 left-1 opacity-80"
            >
              <span>{{ mealCategoryName() }}</span>
            </app-tag>
          </figure>
        }
      </header>

      <h2 class="text-card-title color-text-strong">
        {{ recipeState?.title }}
      </h2>
    </app-stack>
    <footer>
      <app-row>
        <app-inline gap="sm">
          <i class="fa-solid fa-clock" aria-hidden="true"></i>
          <time class="text-xs tracking-widest">{{
            totalTime | mintohour
          }}</time>
        </app-inline>

        <app-tag [color]="difficultyScale()" size="xs">
          <app-inline gap="sm">
            <i class="fa-solid fa-person-hiking"></i>
            <span>{{ difficultyMessage() | capitalize }}</span>
          </app-inline>
        </app-tag>
      </app-row>
    </footer>
  </app-stack>
</app-card>
