<div class="card">
  @if (recipeState?.thumbnailUrl) {
    <div class="rounded-lg overflow-hidden shadow-md">
      <img
        [src]="recipeState?.thumbnailUrl"
        alt="{{ recipeState?.title }}"
        loading="lazy"
        class="card-image"
      />
    </div>
  } @else {
    <div class="card-image-empty">
      <i class="fa-solid fa-mortar-pestle fa-2xl"></i>
    </div>
  }

  <div class="card-body">
    <div class="card-title">{{ recipeState?.title }}</div>

    <div class="card-info">
      <div class="flex-between gap-0.5">
        <i class="fa-solid fa-clock"></i>
        <span class="text-xs tracking-widest">{{ totalTime | mintohour }}</span>
      </div>

      <div class="flex-between gap-0.5">
        @if (recipeState?.difficulty === "low") {
          <i class="fa-solid fa-person-hiking"></i>
          <i
            class="fa-solid fa-person-hiking text-neutral-200 dark:text-neutral-600"
          ></i>
          <i
            class="fa-solid fa-person-hiking text-neutral-200 dark:text-neutral-600"
          ></i>
        }
        @if (recipeState?.difficulty === "normal") {
          <i class="fa-solid fa-person-hiking"></i>
          <i class="fa-solid fa-person-hiking"></i>
          <i
            class="fa-solid fa-person-hiking text-neutral-200 dark:text-neutral-600"
          ></i>
        }
        @if (recipeState?.difficulty === "high") {
          <i class="fa-solid fa-person-hiking"></i>
          <i class="fa-solid fa-person-hiking"></i>
          <i class="fa-solid fa-person-hiking"></i>
        }
        <span class="ml-0.5">{{ difficultyMessage() }}</span>
      </div>
    </div>
  </div>
</div>
