@if (pageLoading()) {
  <app-stack align="center">
    <app-loading />
  </app-stack>
} @else {
  <div class="layout-stack h-dvh">
    <app-header-shell
      ><div class="inset-md">
        <app-stack>
          <app-row>
            <h1 class="text-headline font-roboto text-center relative w-full">
              Filter Ingredients

              <div class="absolute top-0 right-4">
                <app-button
                  variant="ghost"
                  (clicked)="resetIngredientsSelected()"
                  ><i class="fa-solid fa-arrow-rotate-left text-xl"></i
                ></app-button>
              </div>
            </h1>
          </app-row>

          <div
            class="overflow-x-auto overflow-y-hidden flex gap-4 snap-x snap-mandatory scroll-smooth"
          >
            <app-segmented-control
              [fullWidth]="false"
              size="sm"
              [hasBadge]="true"
              [badgeValues]="badgeValues()"
              [options]="availableCategoriesNames()"
              [selectedInput]="ingredientCategoryNameSelected()"
              (selectionChange)="toggleIngredientCategory($event)"
            >
            </app-segmented-control>
          </div>
        </app-stack></div
    ></app-header-shell>

    <app-page-layout>
      @if (sortedIngredients().length > 0) {
        <app-section>
          <app-stack variant="compact">
            @for (ingredient of sortedIngredients(); track $index) {
              <app-ingredient-item
                [ingredient]="ingredient"
                [selectedIngredientIds]="selectedIngredientIds()"
                (toggleItem)="toggleIngredient($event)"
              />
            }
          </app-stack>
        </app-section>
      }
    </app-page-layout>

    <div class="inset-md">
      <app-inline>
        <app-button variant="outline" [fullWidth]="true" (clicked)="cancel()">
          Cancel</app-button
        >

        <app-button
          (clicked)="applyFilter()"
          [fullWidth]="true"
          [disabled]="!nbIngredientsFiltered()"
          >{{ btnText() }}</app-button
        >
      </app-inline>
    </div>
  </div>
}
