<div class="page-container page-full-width layout-hcf">
  <div class="surface-1 sticky-top space-y-4 p-4 min-w-0">
    <div class="input-wrapper">
      <input
        type="text"
        id="search"
        name="search"
        class="surface-2"
        placeholder="Search for an ingredient"
        autocomplete="off"
        [(ngModel)]="filter"
      />

      @if (filter()) {
        <button type="button" (click)="onResetFilterText()" class="btn-reset">
          <i class="fa-solid fa-close fa-lg"></i>
        </button>
      }
      <i class="fa-solid fa-search fa-lg icon-search"></i>
    </div>

    <div>
      <app-ingredient-categories-selection-page />
    </div>
  </div>

  <div class="section-scroll space-y-2 p-4">
    @for (ingredient of ingredientsFiltered(); track $index) {
      <div class="rounded-md">
        <app-ingredient-item
          [ingredient]="ingredient"
          [selectedIngredientIds]="selectedIngredientIds()"
          (toggleItem)="toggleItem($event)"
        />
      </div>
    }
  </div>

  <app-button
    (click)="applyFilter()"
    [fullWidth]="true"
    [disabled]="!nbIngredientsFiltered()"
    >{{ btnText() }}</app-button
  >
</div>
