<div class="layout-stack h-dvh">
  <app-header-shell-shell
    ><div class="inset-md">
      <h1 class="text-headline font-roboto text-center">Filter recipes</h1>
    </div></app-header-shell-shell
  >
  <app-page-layout maxSize="lg">
    <app-section>
      <app-stack variant="section">
        <app-filter-section
          [sectionTitle]="'Meal categories'"
          [icon]="'fa-solid fa-cake-candles'"
          [tags]="mealCategoryTags"
          [selectedIds]="mealCategoriesSelected"
        />
      </app-stack>
    </app-section>

    <app-section>
      <app-stack variant="section">
        <app-filter-section
          [sectionTitle]="'Cuisines'"
          [icon]="'fa-solid fa-flag'"
          [tags]="cuisineTags"
          [selectedIds]="cuisinesSelected"
        />
      </app-stack>
    </app-section>

    <app-section>
      <app-stack variant="section">
        <app-filter-section
          [sectionTitle]="'Recipe categories'"
          [icon]="'fa-solid fa-tag'"
          [tags]="recipeCategoryTags"
          [selectedIds]="recipeCategoriesSelected"
        />
      </app-stack>
    </app-section>

    <app-section>
      <app-stack variant="section">
        <app-filter-group-default
          [sectionTitle]="'Difficulty'"
          [icon]="'fa-solid fa-person-hiking'"
          [tags]="difficultyOptionTags"
        />
      </app-stack>
    </app-section>

    <app-section>
      <app-stack variant="section">
        <app-filter-group-default
          [sectionTitle]="'Price'"
          [icon]="'fa-solid fa-barcode'"
          [tags]="priceOptionTags"
        />
      </app-stack>
    </app-section>

    <app-section>
      <app-stack variant="section">
        <app-filter-group-default
          [sectionTitle]="'Frequency'"
          [icon]="'fa-solid fa-calendar-days'"
          [tags]="frequencyOptionTags"
        />
      </app-stack>
    </app-section>

    <app-section>
      <app-stack variant="section">
        <app-filter-group-default
          [sectionTitle]="'Season'"
          [icon]="'fa-solid fa-snowflake'"
          [tags]="seasonOptionTags"
        />
      </app-stack>
    </app-section>

    <app-section>
      <app-stack variant="section">
        <app-filter-section
          [sectionTitle]="'Ingredient categories'"
          [icon]="'fa-solid fa-tag'"
          [tags]="ingredientCategoryTags"
          [selectedIds]="ingredientCategoriesSelected"
        />
      </app-stack>
    </app-section>

    <app-section>
      <app-stack variant="section">
        <app-row>
          <app-inline>
            <i class="fa-solid fa-carrot"></i>
            <p class="font-semibold">Ingredients</p>
            <button (click)="navigateToFilterIngredients()">
              <i class="fa-solid fa-plus fa-xl"></i>
            </button>
          </app-inline>

          <app-toggle-btn-with-icon
            size="sm"
            [options]="['fa-solid fa-link-slash', 'fa-solid fa-link']"
            color="secondary"
            [selectedInput]="ingredientFilterMode()"
            (selectionChange)="toggleIngredientFilterMode($event)"
          ></app-toggle-btn-with-icon>

          <button (click)="resetFilterIngredientIds()">
            <i class="fa-solid fa-eraser fa-xl"></i>
          </button>
        </app-row>
      </app-stack>
    </app-section>
  </app-page-layout>
  <div class="inset-md">
    <app-inline>
      <app-button
        variant="outline"
        [fullWidth]="true"
        [disabled]="nbRecipesFiltered() === 0"
        (click)="cancel()"
      >
        Cancel</app-button
      >

      <app-button
        [fullWidth]="true"
        [disabled]="nbRecipesFiltered() === 0"
        (click)="validateFilters()"
        >Filter
        <span class="font-bold text-white mx-2">{{ nbRecipesFiltered() }}</span>
        recipes</app-button
      >
    </app-inline>
  </div>
</div>
