@if (dataIsLoading()) {
  <app-stack align="center">
    <app-loading />
  </app-stack>
} @else {
  <div class="layout-stack h-dvh">
    <app-header-shell><app-calendar /></app-header-shell>
    <app-page-layout maxSize="lg">
      <app-row justify="end">
        <app-button routerLink="/meals/definition"
          ><app-inline>
            <i class="fa-solid fa-add"></i>
            <i class="fa-solid fa-shopping-cart fa-xl"></i> </app-inline
        ></app-button>
      </app-row>

      @for (
        dailyMealPlan of dailyMealPlans();
        track dailyMealPlan.weekDay.dayName;
        let i = $index
      ) {
        <app-section>
          <app-stack>
            <app-meal-day-card
              [dailyMealPlan]="dailyMealPlan"
              id="day-{{ i }}"
              class="scroll-mt-20"
            />
          </app-stack>
        </app-section>
      }
    </app-page-layout>
    <app-footer />
  </div>
}
