<ul>
  @for (cuisine of dbCuisines(); track $index) {
    <li (click)="selectCuisine(cuisine.id)">
      {{ cuisine.name | capitalize }}
      @if (cuisineId() === cuisine.name) {
        <i
          class="fa-solid fa-check fa-xl text-primary-600 dark:text-primary-500"
        ></i>
      }
    </li>
  }
</ul>

<div class="fixed bottom-20 left-1/2 -translate-x-1/2 z-50">
  <button
    class="bg-secondary-600 rounded-full p-2 w-12 h-12 text-white shadow-lg"
    (click)="openAddCuisineInputModal($event)"
  >
    <i class="fa-solid fa-plus fa-xl"></i>
  </button>
</div>
