<div class="p-2">
  <div class="input-wrapper">
    <input
      type="text"
      id="search"
      name="search"
      placeholder="Search for a recipe"
      autocomplete="off"
      [(ngModel)]="filter"
    />

    @if (filter()) {
      <button type="button" (click)="onResetFilterText()" class="btn-reset">
        <i class="fa-solid fa-close fa-lg"></i>
      </button>
    }
    <i class="fa-solid fa-search fa-lg icon-search"></i>
  </div>

  <div class="flex items-center justify-between mt-6">
    <div
      class="relative flex items-center justify-between gap-4 cursor-pointer ml-3 dark:text-white hover:text-gray-700 dark:hover:text-gray-300"
      (click)="navigateToRecipeFilter()"
    >
      <i class="fa-solid fa-sliders fa-lg"></i>

      @if (recipeState().nbFilters) {
        <span
          class="absolute -top-3 -left-3 bg-red-600 text-white text-xs rounded-full w-5 h-5 flex items-center justify-center"
        >
          {{ recipeState().nbFilters }}
        </span>
      }

      <div class="flex-between gap-2">
        <p class="font-bold">{{ recipesFiltered()?.length }}</p>
        <p>recipes</p>
      </div>
    </div>

    <button
      class="flex items-center gap-2 text-primary dark:text-primary-300 hover:text-primary-600 dark:hover:text-primary-400"
      (click)="toggleSorting()"
    >
      <div>{{ dateIsIncreasing() ? "Newest" : "Oldest" }} first</div>
      @if (dateIsIncreasing()) {
        <i class="fa-solid fa-arrow-up-wide-short"></i>
      } @else {
        <i class="fa-solid fa-arrow-down-short-wide"></i>
      }
    </button>
  </div>
</div>
