<div class="flex items-center justify-end gap-2 mr-4 my-6">
  <button
    class="filter"
    [class.active]="filterSelected === 'dateCreated'"
    (click)="selectFilter('dateCreated')"
  >
    Date @if (isAscending.date) {
    <i class="fa-solid fa-arrow-down-wide-short"></i>
    } @else {
    <i class="fa-solid fa-arrow-up-wide-short"></i>
    }
  </button>
  @if (!ingredientType) {
  <button
    class="filter"
    [class.active]="filterSelected === 'type'"
    (click)="selectFilter('type')"
  >
    Type @if (isAscending.type) {
    <i class="fa-solid fa-arrow-down-wide-short"></i>
    } @else {
    <i class="fa-solid fa-arrow-up-wide-short"></i>
    }
  </button>
  }
  <button
    class="filter"
    [class.active]="filterSelected === 'name'"
    (click)="selectFilter('name')"
  >
    Name @if (isAscending.name) {
    <i class="fa-solid fa-arrow-down-wide-short"></i>
    } @else {
    <i class="fa-solid fa-arrow-up-wide-short"></i>
    }
  </button>
</div>
