<form class="form-grid" [formGroup]="form">
  <div class="surface-1 px-2 py-4 rounded-lg space-y-4">
    <input
      type="text"
      id="title"
      name=""
      formControlName="title"
      (ngModelChange)="onTitleChange($event)"
      placeholder="Title"
      autocomplete="off"
      class="w-full col-span-2"
    />
    @if (form.get("title")?.touched && form.get("title")?.invalid) {
      <div class="validator">
        @if (form.get("title")?.errors?.["required"]) {
          <small>Title is required.</small>
        }
        @if (form.get("title")?.errors?.["minlength"]) {
          <small>Title must be at least 3 characters long.</small>
        }
        @if (form.get("title")?.errors?.["maxlength"]) {
          <small>Title must be no greater than 36 characters long.</small>
        }
      </div>
    }
    @if (messageUniqueTitle()) {
      <small>{{ messageUniqueTitle() }}</small>
    }

    <div class="flex-col-center gap-4">
      <input
        type="file"
        accept="image/*"
        id="image-upload"
        (change)="onFileSelected($event)"
        class="hidden"
      />

      <label
        for="image-upload"
        class="w-full cursor-pointer border border-primary dark:border-primary-dark hover:bg-primary-50 dark:hover:bg-primary-900 px-4 py-2 rounded-lg shadow transition"
      >
        <span><i class="fa-solid fa-camera mr-2"></i></span> Upload Image
      </label>

      @if (imageUrl()) {
        <div class="flex-between gap-4">
          <div class="image-name italic">{{ imageFile()?.name }}</div>
          <app-button
            class="flex-1"
            color="danger"
            size="sm"
            (click)="removeImage()"
            ><i class="fa-solid fa-trash"></i
          ></app-button>
        </div>
      }
      @if (imageUrl()) {
        <img
          [src]="imageUrl()"
          alt="Image preview"
          class="w-auto h-[35vh] rounded shadow border border-neutral-200 dark:border-neutral-700"
        />
      }
    </div>
  </div>

  <div class="section">
    <div class="property">
      <i class="fa-solid fa-clock"></i>
      <label for="preparationTime" class="text-lg">Prep Time</label>
    </div>
    <div class="input-wrapper">
      <input
        type="text"
        id="preparationTime"
        name="preparationTime"
        formControlName="preparationTime"
        class="w-full"
        autocomplete="off"
      />
      <span class="unit">min</span>
    </div>

    @if (
      form.get("preparationTime")?.touched &&
      form.get("preparationTime")?.invalid
    ) {
      <div class="validator">
        @if (form.get("preparationTime")?.errors?.["required"]) {
          <small>Time in minute is required.</small>
        }
        @if (form.get("preparationTime")?.errors?.["pattern"]) {
          <small>Input must be a positive number.</small>
        }
      </div>
    }

    <div class="property">
      <i class="fa-solid fa-utensils"></i>
      <label for="cookingTime" class="text-lg">Cooking Time</label>
    </div>
    <div class="input-wrapper">
      <input
        type="text"
        id="cookingTime"
        name="cookingTime"
        formControlName="cookingTime"
        class="w-full"
        autocomplete="off"
      />
      <span class="unit">min</span>
    </div>

    @if (form.get("cookingTime")?.touched && form.get("cookingTime")?.invalid) {
      <div class="validator">
        @if (form.get("cookingTime")?.errors?.["required"]) {
          <small>Time in minute is required.</small>
        }
        @if (form.get("cookingTime")?.errors?.["pattern"]) {
          <small>Input must be a positive number.</small>
        }
      </div>
    }

    <div class="property">
      <i class="fa-solid fa-person"></i>
      <label for="servings" class="text-lg">Servings</label>
    </div>
    <div class="flex-between surface-2 rounded-2xl px-2 py-2">
      <button>
        <i class="fa-solid fa-minus" (click)="decreaseServings()"></i>
      </button>
      <p>{{ messageServings() }}</p>
      <button>
        <i class="fa-solid fa-plus" (click)="increaseServings()"></i>
      </button>
    </div>
  </div>

  <div class="section">
    <div class="property">
      <i class="fa-solid fa-person-hiking"></i>
      <span class="text-lg">Difficulty</span>
    </div>
    <div class="section-items">
      @for (difficultyOption of difficultyOptions; track $index) {
        <app-chip
          [selected]="difficulty() === difficultyOption"
          size="sm"
          (toggle)="setDifficulty(difficultyOption)"
          >{{ difficultyOption | capitalize }}</app-chip
        >
      }
    </div>
    <div class="property">
      <i class="fa-solid fa-barcode"></i>
      <span class="text-lg">Price</span>
    </div>
    <div class="section-items">
      @for (priceOption of priceOptions; track $index) {
        <app-chip
          [selected]="price() === priceOption"
          size="sm"
          (toggle)="setPrice(priceOption)"
        >
          @if (priceOption === "low") {
            <i class="fa-solid fa-euro-sign"></i>
          } @else if (priceOption === "normal") {
            <i class="fa-solid fa-euro-sign"></i
            ><i class="fa-solid fa-euro-sign"></i>
          } @else {
            <i class="fa-solid fa-euro-sign"></i
            ><i class="fa-solid fa-euro-sign"></i>
            <i class="fa-solid fa-euro-sign"></i>
          }
        </app-chip>
      }
    </div>
    <div class="property-flexible">
      <i class="fa-solid fa-calendar-days"></i>
      <span class="text-lg">Frequency</span>
    </div>
    <div class="section-items-flexible">
      @for (frequencyOption of frequencyOptions; track $index) {
        <app-chip
          [selected]="frequency() === frequencyOption"
          size="sm"
          (toggle)="setFrequency(frequencyOption)"
          >{{ frequencyOption | capitalize }}</app-chip
        >
      }
    </div>

    <div class="property-flexible">
      <i class="fa-solid fa-snowflake"></i>
      <span class="text-lg">Season</span>
    </div>
    <div class="section-items-flexible">
      @for (seasonOption of seasonOptions; track $index) {
        <app-chip
          [fullWidth]="true"
          size="sm"
          [selected]="seasonsSelected().includes(seasonOption)"
          (toggle)="setSeason(seasonOption)"
          >{{ seasonOption | capitalize }}</app-chip
        >
      }
    </div>
  </div>

  <div class="surface-1 space-y-6 px-2 py-2 rounded-lg">
    <div class="flex-between gap-4">
      <div class="property">
        <i class="fa-solid fa-cake-candles"></i>
        <span class="text-lg">Meal Category</span>
      </div>

      <app-button variant="outline" (click)="navigateToMealCategoryPage()">{{
        mealCategoryName() | capitalize
      }}</app-button>
    </div>

    <div class="flex-between gap-4">
      <div class="property">
        <i class="fa-solid fa-flag"></i>
        <span class="text-lg">Cuisine</span>
      </div>

      <app-button variant="outline" (click)="navigateToCuisinePage()">{{
        cuisineName() | capitalize
      }}</app-button>
    </div>
  </div>

  <div class="recipe-categories">
    <div class="flex-start">
      <div class="property">
        <i class="fa-solid fa-tag"></i>
        <label for="tags" class="text-lg">Recipe Categories</label>
      </div>
      <app-button
        variant="ghost"
        (click)="openAddRecipeCategoryInputModal($event)"
        ><i class="fa-regular fa-plus mr-2"></i> New Category</app-button
      >
    </div>

    <div class="property">
      @for (recipeCategory of dbRecipeCategories(); track $index) {
        <app-chip
          [selected]="selectedCategoryIds().has(recipeCategory.id)"
          size="sm"
          (toggle)="setRecipeCategory(recipeCategory)"
          >{{ recipeCategory.name }}</app-chip
        >
      }
    </div>
  </div>

  <div
    class="grid sm:grid-cols-[auto_1fr] items-start gap-x-2 sm:gap-x-4 gap-y-6 surface-1 px-2 py-4 rounded-lg"
  >
    <div class="property">
      <i class="fa-brands fa-sourcetree"></i>
      <label for="source" class="text-lg">Source</label>
    </div>
    <div class="input-wrapper w-full -mt-2 sm:mt-0">
      <input
        type="url"
        id="source"
        name="source"
        formControlName="source"
        class="w-full"
        autocomplete="off"
        placeholder="Website URL"
      />
    </div>
    @if (form.get("source")?.touched && form.get("source")?.invalid) {
      <small>A valid URL must be entered.</small>
    }

    <div class="property">
      <i class="fa-solid fa-comment"></i>
      <label for="source" class="text-lg">Comment</label>
    </div>
    <div class="input-wrapper w-full -mt-2 sm:mt-0">
      <textarea
        id="comment"
        name="comment"
        formControlName="comment"
        class="w-full rounded surface-2 p-2"
        placeholder="e.g. From Jamie Oliver's book..."
        autocomplete="off"
        rows="2"
      ></textarea>
    </div>
  </div>
</form>

<div class="flex-col-center">
  @if (dataLoading()) {
    <app-loading />
  }
</div>
