input[type="text"],
input[type="url"] {
  @apply h-11 w-full rounded-lg border border-neutral-300 dark:border-neutral-700 dark:placeholder:text-neutral-500 leading-tight outline-none 
  focus:border-primary-500 dark:focus:border-primary-400
  focus:ring-2 focus:ring-primary-500/20 dark:focus:ring-primary-400/20;
}

input.ng-invalid.ng-touched {
  @apply border border-danger dark:border-danger-dark;
}

small {
  @apply text-danger dark:text-danger-dark;
}

textarea {
  @apply h-20 w-full rounded-lg border border-neutral-300 dark:border-neutral-700 dark:placeholder:text-neutral-500 leading-tight outline-none 
  focus:border-primary-500 dark:focus:border-primary-400
  focus:ring-2 focus:ring-primary-500/20 dark:focus:ring-primary-400/20;
}

.validator {
  @apply col-span-2 text-end;
}

.unit {
  @apply absolute right-4 top-1/2 text-neutral-500 text-sm -translate-y-1/2;
}
