.active-link {
  background-color: coral;
  color: #1512c4;
  font-weight: bold;
}

mat-toolbar {
  justify-content: space-between;
  padding: 0 2rem;
}

mat-toolbar.theme-control {
  display: flex;
  align-items: center;
  justify-content: center;
}
