<div class="text-black dark:text-white flex flex-col items-center mt-8">
  <h1 class="text-2xl">Welcome to Fam'appy</h1>

  <p class="my-6">Plan your daily family life...</p>

  <div class="flex gap-6 flex-wrap mx-4">
    <button routerLink="/members">Members</button>

    <button routerLink="/recipes">Recipes</button>

    <button routerLink="/new-recipe">New Recipe</button>

    <button routerLink="/ingredients">Ingredients</button>

    <button routerLink="/manage-ingredient-categories">
      Ingredient Categories
    </button>
  </div>
</div>
