<app-stack variant="section">
  <app-meal-day-header [dailyMealPlan]="dailyMealPlan()" />

  <div class="border-l-2 border-l-amber-500">
    <app-section [surface]="2" [shadow]="false">
      <app-stack variant="default">
        <app-meal-type-header
          mealType="lunch"
          [showAssignButton]="false"
          [showServingIncrements]="false"
          [servings]="lunchServings"
          [dailyMealPerMealType]="dailyLunchMeals()"
          [dailyMealPlan]="dailyMealPlan()"
        />

        @if (dailyMealPlan().recipes.length > 0) {
          <div class="h-1 w-full surface-1"></div>
        }

        <app-stack>
          @for (recipe of dailyMealPlan().recipes; track $index) {
            @if (recipe.recipe !== null && recipe.mealType === "lunch") {
              <app-meal-recipe-item
                [recipe]="recipe"
                [canViewRecipe]="true"
                [canDeleteMeal]="true"
                [showImage]="true"
              />
            }
            @if (recipe.manualRecipe && recipe.mealType === "lunch") {
              <app-meal-manual-recipe-item [meal]="recipe" />
            }
          }
        </app-stack>
      </app-stack>
    </app-section>
  </div>

  <div class="border-l-2 border-l-cyan-500">
    <app-section [surface]="2" [shadow]="false">
      <app-stack variant="default">
        <app-meal-type-header
          mealType="dinner"
          [showAssignButton]="false"
          [showServingIncrements]="false"
          [servings]="dinnerServings"
          [dailyMealPerMealType]="dailyDinnerMeals()"
          [dailyMealPlan]="dailyMealPlan()"
        />

        @if (dailyMealPlan().recipes.length > 0) {
          <div class="h-1 w-full surface-1"></div>
        }

        <app-stack>
          @for (recipe of dailyMealPlan().recipes; track $index) {
            @if (recipe.recipe && recipe.mealType === "dinner") {
              <app-meal-recipe-item
                [recipe]="recipe"
                [canViewRecipe]="true"
                [canDeleteMeal]="true"
                [showImage]="true"
              />
            }
            @if (recipe.manualRecipe && recipe.mealType === "dinner") {
              <app-meal-manual-recipe-item [meal]="recipe" />
            }
          }
        </app-stack>
      </app-stack>
    </app-section>
  </div>
</app-stack>
