<div class="h-full layout-hcf">
  <header class="page-full-width">
    <app-stepper [navStep]="2" />
  </header>

  <div class="section-scroll space-y-6 py-4">
    @if (dataIsLoading()) {
      <div class="flex-col-center">
        <app-loading />
      </div>
    } @else {
      <section>
        <div class="flex-between">
          <div class="options-header">
            <i class="fa-solid fa-flag"></i>
            <span>Cuisine</span>
          </div>
        </div>

        <div class="options-container">
          @for (cuisine of cuisineOptions(); track $index) {
            <app-chip
              [selected]="cuisinesSelected().includes(cuisine)"
              (click)="selectCuisine(cuisine)"
              >{{ cuisine.name | capitalize }}</app-chip
            >
          }
        </div>
      </section>

      <section>
        <div class="options-header">
          <i class="fa-solid fa-snowflake"></i>
          <span>Season</span>
        </div>
        <div class="options-container">
          @for (seasonOption of seasonOptions(); track $index) {
            <app-chip
              [selected]="seasonsSelected().includes(seasonOption)"
              (click)="selectSeason(seasonOption)"
              >{{ seasonOption | capitalize }}</app-chip
            >
          }
        </div>
      </section>

      <section>
        <div class="options-header">
          <i class="fa-solid fa-person-hiking"></i>
          <span>Difficulty</span>
        </div>
        <div class="options-container">
          @for (difficultyOption of difficultyOptions(); track $index) {
            <app-chip
              [selected]="difficultiesSelected().includes(difficultyOption)"
              (click)="selectDifficulty(difficultyOption)"
              >{{ difficultyOption | capitalize }}</app-chip
            >
          }
        </div>
      </section>

      <section>
        <div class="options-header">
          <i class="fa-solid fa-calendar-days"></i>
          <span>Frequency</span>
        </div>
        <div class="options-container">
          @for (frequencyOption of frequencyOptions(); track $index) {
            <app-chip
              [selected]="frequenciesSelected().includes(frequencyOption)"
              (click)="selectFrequency(frequencyOption)"
              >{{ frequencyOption | capitalize }}</app-chip
            >
          }
        </div>
      </section>

      <section>
        <div class="flex-between">
          <div class="options-header">
            <i class="fa-solid fa-tag"></i>
            <span>Recipe Category</span>
          </div>

          <app-toggle-btn-with-icon
            size="sm"
            [options]="['fa-solid fa-link-slash', 'fa-solid fa-link']"
            color="secondary"
            [selectedInput]="recipeCategoryMode()"
            (selectionChange)="toggleRecipeCategoryMode($event)"
          ></app-toggle-btn-with-icon>
        </div>
        <div class="options-container">
          @for (recipeCategory of recipeCategoryOptions(); track $index) {
            <app-chip
              [selected]="selectedCategoryIds().has(recipeCategory.id)"
              (click)="toggleRecipeCategory(recipeCategory)"
              >{{ recipeCategory.name | capitalize }}</app-chip
            >
          }
        </div>
      </section>
    }
  </div>

  <div class="page-full-width page-x-padding py-2">
    <app-button
      [disabled]="nbRecipesFiltered() === 0"
      routerLink="/meals/selection"
      [fullWidth]="true"
      >Validate {{ nbRecipesFiltered() }} Recipes</app-button
    >
  </div>
</div>
