<div class="h-full layout-hcf">
  <header class="page-full-width">
    <app-stepper [navStep]="2" />
  </header>

  <div class="section-scroll space-y-6 py-4">
    @if (dataIsLoading()) {
      <div class="flex-col-center">
        <app-loading />
      </div>
    } @else {
      <section class="surface-1">
        <h2 class="question font-roboto text-title ui-text-default">
          How many meals do you want to plan?
        </h2>

        <app-select
          [options]="nbMeals"
          [control]="mealNbSelected"
          [responsive]="true"
        ></app-select>
      </section>

      <section class="surface-1">
        <h2 class="question font-roboto text-title ui-text-default">
          Which categories are you interested in?
        </h2>

        <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-4">
          @for (cat of filteredCategories(); track cat.id) {
            <app-chip
              [fullWidth]="true"
              [selected]="selectedCategoriesIds().includes(cat.id)"
              (toggle)="toggleSelection(cat)"
              >{{ cat.name }}</app-chip
            >
          }
        </div>
      </section>
    }
  </div>

  <div class="page-full-width page-x-padding py-2">
    <app-button
      [fullWidth]="true"
      [disabled]="proceedButtonIsDisabled()"
      (click)="proceed()"
      routerLink="/meals/filter"
    >
      Proceed
    </app-button>
  </div>
</div>
