<div>
  <div (click)="openModal()">
    <ng-content></ng-content>
  </div>

  <div
    [ngClass]="isModalOpen ? 'block' : 'hidden'"
    class="fixed inset-0 bg-gray-800 bg-opacity-75 flex justify-center items-center"
    (click)="closeModalOnOutsideClick($event)"
  >
    <div class="modal">
      <h2 class="header">{{ title }}</h2>

      <form class="form-grid" [formGroup]="modalForm">
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          name="name"
          required
          formControlName="name"
        />
        <div
          class="validator"
          *ngIf="
            modalForm.get('name')?.touched && modalForm.get('name')?.invalid
          "
        >
          <small *ngIf="modalForm.get('name')?.errors?.['required']"
            >Name is required.</small
          >
          <small *ngIf="modalForm.get('name')?.errors?.['minlength']"
            >Name must be at least 3 characters long.</small
          >
        </div>
        <label for="sex">Sex</label>

        <div class="flex items-center justify-between w-full">
          <label for="male">
            <input type="radio" id="male" formControlName="sex" value="male" />
            Male
          </label>
          <label for="female">
            <input
              type="radio"
              id="female"
              formControlName="sex"
              value="female"
            />
            Female
          </label>
        </div>

        <label for="birthday">Birthday</label>
        <input
          type="date"
          id="birthday"
          name="birthday"
          required
          formControlName="birthday"
        />
        <div
          class="validator"
          *ngIf="
            modalForm.get('birthday')?.touched &&
            modalForm.get('birthday')?.invalid
          "
        >
          <small *ngIf="modalForm.get('birthday')?.errors?.['required']"
            >Birthday is required.</small
          >
          <small *ngIf="modalForm.get('birthday')?.errors?.['pastDate']"
            >Birthday must be in the past.</small
          >
        </div>
      </form>

      <app-button
        icon="fa fa-xmark"
        btnStyle="text-based"
        iconPos="right"
        size="medium"
        class="absolute top-0 right-0"
        (clickEvent)="closeModal()"
      ></app-button>

      <div class="flex items-center justify-between">
        <app-button
          btnStyle="outlined"
          color="danger"
          (clickEvent)="closeModal()"
          >Cancel</app-button
        >

        <app-button
          size="medium"
          (clickEvent)="onMainAction()"
          [disabled]="buttonIsDisabled"
          >{{ mainBtnText }}</app-button
        >
      </div>
    </div>
    @if (isLoading) {
    <app-loading />
    }
  </div>
</div>
