@if (membersAreLoaded()) {
  <app-row>
    <app-inline>
      <span class="meal-type" [class.dinner]="mealType === 'dinner'">
        {{ mealType | capitalize }}
      </span>
      @if (showMealAddingOptions) {
        <span
          ><app-meal-adding-options
            [dailyMealPlan]="dailyMealPlan()!"
            [mealType]="mealType"
        /></span>
      }

      @if (showAssignButton) {
        <app-button
          variant="ghost"
          color="classic"
          (clicked)="assignMeal()"
          [disabled]="!canAssignRecipes()"
        >
          <i class="fa-regular fa-plus fa-2xl"></i>
        </app-button>
      }
    </app-inline>

    @if (showServingIncrements) {
      <app-inline>
        <app-button variant="ghost" size="md" (clicked)="decreaseServings()"
          ><i class="fa-solid fa-minus"></i
        ></app-button>
        <app-inline gap="sm">
          <span>{{ uiServings() }}</span>
          <i class="fa-solid fa-user"></i>
        </app-inline>
        <app-button variant="ghost" size="md" (clicked)="increaseServings()"
          ><i class="fa-solid fa-plus"></i
        ></app-button>
        <!-- <app-servings-control
          [servings]="uiServings()"
          (servingsChange)="onServingsChange($event)"
        /> -->
      </app-inline>
    } @else {
      @if (dailyMealPerMealType().length) {
        <app-inline>
          <i class="fa-solid fa-user"></i>
          <app-modal-servings-selection
            [dailyMealPerMealType]="dailyMealPerMealType()"
            [servings]="servings()"
            [mealType]="mealType"
          />
        </app-inline>
      }
    }

    <app-meal-cook-selection
      [dailyMealPerMealType]="dailyMealPerMealType()"
      [selectedDay]="selectedDay()"
      mealType="{{ mealType }}"
      [cookName]="uiCookName()"
    />
  </app-row>
}
