button {
  @apply w-16 py-2 px-3 rounded-2xl
           bg-neutral-50 text-neutral-700
           hover:bg-neutral-200
           dark:bg-neutral-900 dark:text-neutral-300
           dark:hover:bg-neutral-800
           flex flex-col items-center justify-center gap-1
           transition-colors duration-150;
}

.active-link {
  @apply bg-primary text-neutral-50 dark:bg-primary-dark;
}

.active-link p {
  @apply font-bold;
}

p {
  @apply text-[0.6rem];
}
