<div class="flex-around">
  <button
    routerLink="/"
    routerLinkActive="active-link"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <div class="btn-container">
      <i class="fa fa-house"></i>
      <p>Home</p>
    </div>
  </button>

  <button routerLink="/meals" routerLinkActive="active-link">
    <div class="btn-container">
      <i class="fa-solid fa-utensils"></i>
      <p>Meals</p>
    </div>
  </button>

  <button routerLink="/recipes" routerLinkActive="active-link">
    <div class="btn-container">
      <i class="fa fa-cart-shopping"></i>
      <p>Shopping</p>
    </div>
  </button>

  <button routerLink="/settings" routerLinkActive="active-link">
    <div class="btn-container">
      <i class="fa fa-gear"></i>
      <p>Settings</p>
    </div>
  </button>
</div>
