@layer components {
  .grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .gap-x-xs {
    @apply gap-x-1;
  }
  .gap-y-xs {
    @apply gap-y-1;
  }

  .gap-x-sm {
    @apply gap-x-2;
  }
  .gap-y-sm {
    @apply gap-y-2;
  }

  .gap-x-md {
    @apply gap-x-4;
  }
  .gap-y-md {
    @apply gap-y-4;
  }

  .gap-x-lg {
    @apply gap-x-6 sm:gap-x-8;
  }
  .gap-y-lg {
    @apply gap-y-6 sm:gap-y-8;
  }

  .gap-x-xl {
    @apply gap-x-8 sm:gap-x-12;
  }
  .gap-y-xl {
    @apply gap-y-8 sm:gap-y-12;
  }

  .gap-x-2xl {
    @apply gap-x-12 sm:gap-x-20;
  }
  .gap-y-2xl {
    @apply gap-y-12 sm:gap-y-20;
  }
}
