<div [class]="'border-l-2 border-' + mealType + '-dark-bg'">
  <app-section [shadow]="false">
    <app-stack variant="section">
      <app-meal-type-header
        [mealType]="mealType"
        [showMealAddingOptions]="false"
        [showAssignButton]="true"
        [servings]="servings()"
        [dailyMealPerMealType]="[]"
      />

      <app-stack>
        @for (meal of mealsWithCategoryName(); track $index) {
          @if (mealType === meal.mealType) {
            <div class="w-full rounded-lg inset-inline-sm surface-2">
              <app-meal-recipe-item
                [recipe]="meal"
                [canViewRecipe]="false"
                [canDeleteMeal]="false"
              />
            </div>
          }
        }
      </app-stack>
    </app-stack>
  </app-section>
</div>
