<app-ingredient-categories-adder
  [existingIngredientTypeNames]="existingIngredientTypeNames"
/>
<ul>
  <li *ngFor="let ingredientType of ingredientTypes; let i = index">
    <ng-container *ngIf="editIngredientTypeIndex !== i; else editMode">
      <div>{{ ingredientType.name }}</div>
    </ng-container>

    <ng-template #editMode>
      <div class="input-container">
        <input
          type="text"
          [(ngModel)]="tempNames[ingredientType.id]"
          [ngModelOptions]="{ standalone: true }"
          #inputField
          (keydown)="onEditPressEnterIngredientType($event, ingredientType)"
          (blur)="cancel_updating_name()"
        />
      </div>
    </ng-template>

    <div class="btns-container">
      <ng-container *ngIf="editIngredientTypeIndex !== i">
        <button type="button" (click)="editIngredientType(i, ingredientType)">
          <i
            class="fa-regular fa-pen-to-square text-primary-600 dark:text-primary-500 text-xl"
          ></i>
        </button>
      </ng-container>

      <ng-container *ngIf="editIngredientTypeIndex === i">
        <button type="button" (click)="onValidateUpdate(ingredientType)">
          <i
            class="fa-solid fa-check text-green-600 dark:text-success-500 text-xl"
          ></i>
        </button>
      </ng-container>

      <button
        type="button"
        (click)="onConfirmRemoveCategory(ingredientType.id)"
      >
        <i
          class="fa-regular fa-trash-can text-danger-600 dark:text-danger-500 text-xl"
        ></i>
      </button>

      <app-modal-confirm
        title="Delete confirmation"
        [message]="getDeleteMessage()"
        btnConfirmText="Delete"
        btnConfirmColor="danger"
        [isModalOpen]="showConfirmDeleteModal"
        (confirmEvent)="onConfirmModalAction($event)"
      />
    </div>
  </li>
</ul>
<div class="flex flex-col items-center">
  @if (isLoading) {
  <app-loading />
  }
</div>
