<div class="main-content">
  <div class="title">
    {{ title() }}
  </div>
  <form [formGroup]="memberForm">
    <div class="form-el-container">
      <label for="name">Name</label>
      <span>{{ member().name }}</span>
    </div>
    <div class="form-el-container">
      <label for="sex">Sex</label>
      <span>{{ member().sex }}</span>
    </div>
    <div class="form-el-container">
      <label for="birthday">Birthday</label>
      <span>{{ member().birthday | date }}</span>
    </div>

    <div class="btns-container">
      <app-button
        color="danger"
        variant="outline"
        (click)="openDeleteModal($event, member().id)"
        >Remove</app-button
      >

      <app-member-modal
        title="Update member"
        [id]="member().id"
        [type]="member().type"
        [name]="member().name"
        [sex]="member().sex"
        [birthday]="member().birthday"
        [mainBtnText]="'Update'"
        ><div class="mx-auto text-center">
          <app-button type="submit" color="primary">Update</app-button>
        </div>
      </app-member-modal>
    </div>
  </form>
</div>

<div class="flex-col-center">
  @if (pageIsRefreshing()) {
    <app-loading />
  }
</div>
