@if (pageIsLoading()) {
  <app-stack align="center">
    <app-loading />
  </app-stack>
} @else {
  <div class="layout-stack h-dvh">
    <app-header-shell
      ><div class="inset-md">
        <app-stack>
          <app-row>
            <div class="relative w-full">
              <div class="absolute">
                <app-button variant="ghost" size="sm" (clicked)="goBack()"
                  ><i class="fa-solid fa-arrow-left-long text-xl"></i
                ></app-button>
              </div>
              <h1 class="text-headline font-roboto text-center">
                Manage meal categories
              </h1>
            </div>
          </app-row>
        </app-stack>
      </div>
    </app-header-shell>

    <app-page-layout>
      <app-section>
        <app-stack variant="section">
          @for (mealCategory of dbMealCategories(); track $index) {
            <app-row>
              <span>{{ mealCategory.name | capitalize }}</span>
              <app-inline gap="sm">
                <app-button
                  variant="ghost"
                  size="sm"
                  (clicked)="
                    openUpdateMealCategoryInputModal($event, mealCategory)
                  "
                  ><i class="fa-regular fa-pen-to-square text-xl"></i
                ></app-button>

                <app-button
                  variant="ghost"
                  size="sm"
                  color="danger"
                  (clicked)="openDeleteModal($event, mealCategory.id)"
                  ><i class="fa-regular fa-trash-can text-xl"></i
                ></app-button>
              </app-inline>
            </app-row>
          }
        </app-stack>
      </app-section>
    </app-page-layout>

    <app-section [surface]="0">
      <app-button
        [fullWidth]="true"
        (clicked)="openAddMealCategoryInputModal($event)"
      >
        Add new category
      </app-button>
    </app-section>
  </div>
}
