<div>
  @if (uploadProgress() > 0 && uploadProgress() < 100) {
  <app-image-upload-loader
    [progress]="uploadProgress()"
  ></app-image-upload-loader>
  }

  <div class="header">
    <button
      class="btn-save"
      (click)="onAddOrUpdateRecipe()"
      [disabled]="!formIsValid()"
      [ngClass]="{ 'opacity-30': !formIsValid() }"
    >
      {{ buttonSaveOrUpdate() }}
    </button>
  </div>
  <app-tabs>
    <app-tab tabTitle="definition" [active]="true">
      <app-tab-definition [buttonType]="buttonSaveOrUpdate()" />
    </app-tab>
    <app-tab tabTitle="ingredients">
      <app-tab-ingredients />
    </app-tab>
    <app-tab tabTitle="instructions">
      <app-tab-instructions />
    </app-tab>
  </app-tabs>
</div>

<div class="flex flex-col items-center">
  @if (pageIsLoading()) {
  <app-loading />
  }
</div>
