@if (pageLoading()) {
  <app-loading />
} @else {
  <div class="h-full layout-hcf">
    <app-tabs>
      <app-tab tabTitle="definition" [active]="true">
        <app-tab-definition [buttonType]="buttonSaveOrUpdate()" />
      </app-tab>
      <app-tab tabTitle="ingredients">
        <app-tab-ingredients />
      </app-tab>
      <app-tab tabTitle="instructions">
        <app-tab-instructions />
      </app-tab>
    </app-tabs>

    <div class="page-full-width page-x-padding py-2">
      <div class="w-full">
        <app-button
          [fullWidth]="true"
          (click)="onAddOrUpdateRecipe()"
          [disabled]="!formIsValid()"
          >{{ buttonSaveOrUpdate() }}</app-button
        >
      </div>
    </div>
  </div>
}

@if (uploadProgress() > 0 && uploadProgress() < 100) {
  <app-image-upload-loader
    [progress]="uploadProgress()"
  ></app-image-upload-loader>
}
