<app-stack variant="section">
  <app-row>
    <app-inline>
      <app-inline gap="sm">
        <i class="{{ icon }}"></i>
        <span class="font-semibold whitespace-nowrap">{{ sectionTitle }}</span>
      </app-inline>
      @if (canSelectAll()) {
        <app-button variant="ghost" (clicked)="selectDeselectAll()">{{
          labelToggleSelectAll()
        }}</app-button>
      }
    </app-inline>
  </app-row>

  <app-row>
    <app-inline gap="sm" [wrap]="true">
      @for (tag of tags(); track tag.id) {
        <app-chip
          [selected]="selectedIds().includes(tag.id)"
          (click)="toggleTag(tag.id)"
          >{{ tag.name }}</app-chip
        >
      }
    </app-inline>
  </app-row>
</app-stack>
