<div>
  <div class="flex-start gap-6">
    <div class="header">
      <i class="{{ icon }}"></i>
      <p class="font-semibold">{{ sectionTitle }}</p>
    </div>
    @if (canSelectAll()) {
      <app-button variant="ghost" (click)="selectDeselectAll()">{{
        labelToggleSelectAll()
      }}</app-button>
    }
  </div>

  <div class="flex-start flex-wrap gap-x-2 gap-y-4">
    @for (tag of tags(); track tag.id) {
      <app-chip
        [selected]="selectedIds().includes(tag.id)"
        (click)="toggleTag(tag.id)"
        >{{ tag.name }}</app-chip
      >
    }
  </div>
</div>
