<app-stack>
  <app-button
    size="sm"
    color="secondary"
    routerLink="/manage-ingredient-categories"
    [fullWidth]="true"
  >
    <app-inline>
      <i class="fa-solid fa-plus text-xl"></i>
      <span>Add a category</span>
    </app-inline>
  </app-button>

  <app-inline gap="sm" [wrap]="true">
    @for (cat of ingredientCategoriesSorted(); track $index) {
      <app-chip
        [selected]="ingredientCategorySelected()?.name === cat.name"
        (toggle)="
          selectIngredientType(
            cat,
            ingredientCategorySelected()?.name === cat.name
          )
        "
        >{{ cat.name }}</app-chip
      >
    }
  </app-inline>
</app-stack>
