<div class="flex-start flex-wrap gap-2 my-2">
  @for (cat of ingredientCategoriesSorted(); track $index) {
    <app-chip
      [selected]="ingredientCategorySelected()?.name === cat.name"
      (toggle)="
        selectIngredientType(
          cat,
          ingredientCategorySelected()?.name === cat.name
        )
      "
      >{{ cat.name }}</app-chip
    >
  }

  <app-button
    variant="outline"
    size="sm"
    color="secondary"
    routerLink="/manage-ingredient-categories"
  >
    @if (linkText().length > 0) {
      <i class="fa-solid fa-plus mr-2 text-xl"></i>
      {{ linkText() }}
    } @else {
      <i class="fa-solid fa-plus text-xl"></i>
    }
  </app-button>
</div>
