<app-section [surface]="3">
  <app-stack variant="page">
    <h2 class="text-title text-center">{{ title }}</h2>

    <app-stack>
      <input
        #autoFocusInput
        type="text"
        id="name"
        name="name"
        required
        placeholder="Name"
        class="inset-x-md surface-1"
        autocomplete="off"
        [(ngModel)]="inputValue"
        (ngModelChange)="onInputChange($event)"
        (keydown.enter)="onConfirm()"
      />
      @if (invalidMessage) {
        <span class="invalid">{{ invalidMessage }}</span>
      }
    </app-stack>

    <app-row>
      <app-button
        btnStyle="text-based"
        color="primary"
        size="md"
        (clicked)="onCancel()"
        >Cancel</app-button
      >

      <app-button
        [color]="btnConfirmColor"
        size="md"
        (clicked)="onConfirm()"
        [disabled]="invalidMessage !== undefined || inputValue.length === 0"
        >{{ btnConfirmText }}</app-button
      >
    </app-row>
  </app-stack>
</app-section>
