@if (pageIsLoading()) {
  <app-stack align="center">
    <app-loading />
  </app-stack>
} @else {
  <div class="layout-stack h-dvh">
    <app-header-shell
      ><div class="inset-md">
        <app-stack>
          <h1 class="text-headline font-roboto text-center">
            Manage Ingredients
          </h1>

          <app-ingredient-categories-selection-page />

          <app-ingredient-adder
            [existingIngredientNames]="existingIngredientNames()"
          />

          <app-ingredient-filter
            [(filterSelected)]="filterSelected"
            [isAscending]="isAscending()"
            (filterSelectedChange)="onFilterSelected($event)"
          />
        </app-stack>
      </div>
    </app-header-shell>

    <app-page-layout>
      <app-section>
        <app-stack>
          <app-grid col1="max" col2="max" col3="1" gapX="xl" gapY="lg">
            @for (
              ingredient of ingredientsFiltered();
              track $index;
              let i = $index
            ) {
              <span class="italic text-sm text-color-muted">
                {{ ingredient.categoryName }}
              </span>
              <span>{{ ingredient.name }}</span>
              <div class="justify-self-end">
                <app-inline gap="sm">
                  <app-button
                    variant="ghost"
                    size="sm"
                    (clicked)="openUpdateModal(ingredient)"
                    ><i class="fa-regular fa-pen-to-square text-xl"></i
                  ></app-button>
                  <app-button
                    variant="ghost"
                    size="sm"
                    color="danger"
                    (clicked)="openDeleteModal($event, ingredient.id)"
                    ><i class="fa-regular fa-trash-can text-xl"></i
                  ></app-button>
                </app-inline>
              </div>
            }
          </app-grid>
        </app-stack>
      </app-section>
    </app-page-layout>
  </div>
}
