<div class="flex items-center gap-4">
  <a
    (click)="viewRecipe()"
    class="min-w-0 flex flex-1 items-center gap-2 cursor-pointer"
  >
    <i class="fa-solid fa-utensils shrink-0"></i>

    <span class="min-w-0 flex-1 truncate">
      {{ recipeTitle() }}
    </span>

    <div class="hidden sm:block">
      <span class="shrink-0 color-text-muted">
        <app-inline gap="xs">
          <i class="fa-regular fa-clock"></i>
          <span class="text-xs">
            {{ totalTime() | mintohour }}
          </span>
        </app-inline>
      </span>
    </div>

    <div class="shrink-0 color-text-muted">
      <app-tag size="xs" variant="filled" color="neutral">
        <span class="color-text-muted">{{ mealCategoryName() }}</span></app-tag
      >
    </div>
  </a>

  <div class="shrink-0">
    <app-button variant="ghost" (clicked)="openDeleteModal($event)">
      <i
        class="fa-solid fa-trash-arrow-up fa-md text-red-500 dark:text-red-700"
      ></i>
    </app-button>
  </div>
</div>
