<div class="dark:text-white px-8 py-4">
  <div class="text-center text-3xl mb-6">{{ recipe?.title }}</div>
  <div>Seasons: {{ recipe?.seasonsSelected }}</div>
  <div>Difficulty: {{ recipe?.difficulty }}</div>
  <div>Preparation time: {{ recipe?.preparationTime }}</div>
  <div>Cooking time: {{ recipe?.cookingTime }}</div>
  <div>Price: {{ recipe?.price }}</div>
  <div>Ingredients:</div>
  <ul class="flex flex-col items-start gap-2 mb-4">
    @for (ingredient of recipe?.ingredients; track $index) {
    <li class="bg-gray-200 dark:bg-gray-700 p-2 rounded">
      {{ ingredient.name }}
    </li>
    }
  </ul>
  <div>Instructions:</div>
  <ul class="flex flex-col items-start gap-2 mb-4">
    @for (instruction of recipe?.instructions; track $index) {
    <li class="bg-gray-200 dark:bg-gray-700 p-2 rounded">{{ instruction }}</li>
    }
  </ul>
</div>
