<form [formGroup]="form">
  <div class="flex gap-2 mt-8 mx-4">
    <input
      type="text"
      id="name"
      name="name"
      formControlName="name"
      autocomplete="off"
      placeholder="Add a customized ingredient type"
      class="flex-grow"
      (keydown)="onIngredientTypeEnterPress($event)"
    />

    <button
      (click)="addIngredientType()"
      class="btn-add"
      [disabled]="buttonIsDisabled"
      [class.disabled]="buttonIsDisabled"
    >
      <i class="fa fa-plus"></i>
    </button>
  </div>

  <div class="validator mx-2" *ngIf="form.get('name')?.invalid">
    <small *ngIf="form.get('name')?.errors?.['maxlength']"
      >Ingredient type must be no greater than 16 characters long.</small
    >
  </div>
  @if (nameAlreadyExists) {<small
    >This ingredient type already exists in the database.</small
  >}
</form>
