<button
  [matMenuTriggerFor]="menu"
  aria-label="user-menu"
  class="bg-blue-400 dark:bg-blue-300 p-1 rounded-full flex items-center justify-center"
>
  <mat-icon class="icon-display">account_circle</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>person</mat-icon> <span>{{ user()?.displayName }}</span>
  </button>
  <button mat-menu-item (click)="goToSettings()">
    <mat-icon>settings</mat-icon>
    <span>Settings</span>
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>
