@if (pageIsLoading()) {
  <div class="flex flex-col items-center">
    <app-loading />
  </div>
} @else {
  <div class="lg:max-w-[1000px] mx-auto stack-md">
    <header
      class="sticky-top page-full-width surface-nav text-title text-center py-8"
    >
      Manage ingredient categories
    </header>

    <div class="flex flex-col gap-6">
      @for (ingredientCategory of dbIngredientCategories(); track $index) {
        <div class="surface-1 flex-between p-2 rounded-md">
          <div>{{ ingredientCategory.name }}</div>

          <div class="flex-between gap-0">
            <app-button
              variant="ghost"
              size="sm"
              (click)="openUpdateModal($event, ingredientCategory)"
              ><i class="fa-regular fa-pen-to-square text-xl"></i
            ></app-button>

            <app-button
              variant="ghost"
              size="sm"
              color="danger"
              (click)="openDeleteModal($event, ingredientCategory.id)"
              ><i class="fa-regular fa-trash-can text-xl"></i
            ></app-button>
          </div>
        </div>
      }
    </div>
  </div>

  <div class="fixed bottom-20 left-1/2 -translate-x-1/2 z-50">
    <app-button color="secondary" (click)="openAddModal($event)">
      <i class="fa-solid fa-plus text-xl"></i>
    </app-button>
  </div>
}
