<ul>
  @for (ingredientCategory of dbIngredientCategories(); track $index) {
    <li>
      <div>{{ ingredientCategory.name }}</div>

      <div class="btns-container">
        <button
          type="button"
          (click)="
            openUpdateIngredientCategoryInputModal($event, ingredientCategory)
          "
        >
          <i
            class="fa-regular fa-pen-to-square text-primary-600 dark:text-primary-500 text-xl"
          ></i>
        </button>

        <button
          type="button"
          (click)="
            openDeleteIngredientCategoryModal($event, ingredientCategory.id)
          "
        >
          <i
            class="fa-regular fa-trash-can text-danger-600 dark:text-danger-500 text-xl"
          ></i>
        </button>
      </div>
    </li>
  }
</ul>

<div class="fixed bottom-20 left-1/2 -translate-x-1/2 z-50">
  <button
    class="bg-secondary-600 rounded-full p-2 w-12 h-12 text-white shadow-lg"
    (click)="openAddIngredientCategoryInputModal($event)"
  >
    <i class="fa-solid fa-plus fa-xl"></i>
  </button>
</div>

<div class="flex flex-col items-center">
  @if (canShowPage()) {
    <app-loading />
  }
</div>
