<div class="modal-container">
  <h2 class="header">{{ title }}</h2>

  <input
    #autoFocusInput
    type="text"
    id="name"
    name="name"
    required
    placeholder="Name"
    autocomplete="off"
    [(ngModel)]="inputValue"
    (ngModelChange)="onInputChange($event)"
    (keydown.enter)="onConfirm()"
  />
  @if (invalidMessage) {
    <p class="invalid">{{ invalidMessage }}</p>
  }

  <div class="flex items-center justify-between mt-6">
    <app-button
      btnStyle="text-based"
      color="primary"
      size="lg"
      (click)="onCancel()"
      >Cancel</app-button
    >

    <app-button
      [color]="btnConfirmColor"
      size="md"
      (click)="onConfirm()"
      [disabled]="invalidMessage !== undefined"
      >{{ btnConfirmText }}</app-button
    >
  </div>
</div>
