<app-stack variant="section">
  <app-row>
    <app-inline>
      <app-inline gap="sm">
        <i class="{{ icon }}"></i>
        <span class="font-semibold whitespace-nowrap">{{ sectionTitle }}</span>
      </app-inline>
      <app-button variant="ghost" (click)="selectDeselectAll()">{{
        labelToggleSelectAll()
      }}</app-button>
    </app-inline>
  </app-row>

  <app-row>
    <app-inline gap="sm" [wrap]="true">
      @for (tag of tags(); track $index) {
        <app-chip
          [selected]="tag.selected === true"
          (click)="toggleTag(tag.name)"
          >{{ tag.name }}</app-chip
        >
      }
    </app-inline>
  </app-row>
</app-stack>
