<!-- <main
  class="layout-hcf gap-y-6 sm:gap-y-8 gap-x-4 grid-cols-4 sm:grid-cols-12 mx-auto lg:max-w-[1000px]"
>
  <header
    class="sticky top-0 z-10 col-span-4 sm:col-span-12 bg-white text-neutral-700 border-b border-b-neutral-200 dark:bg-neutral-800 dark:text-primary-100 dark:border-none rounded-b-2xl"
  >
    <div class="mb-6">
      <app-stepper [navStep]="4" />
    </div>
    <app-calendar />
  </header>

  @if (cart().length > 0) {
    <section>
      @for (mealCategory of mealCategoriesSelected(); track $index) {
        @if (cartMealCategoryIds().includes(mealCategory.id)) {
          <div>
            <h2
              class="text-xl text-center text-neutral-900 dark:text-neutral-50"
            >
              {{ mealCategory.name }}
            </h2>
            <p class="w-full h-1 bg-gray-200 dark:bg-gray-700 my-2"></p>

            <div class="flex flex-col justify-between gap-2 my-2">
              @for (meal of cartWithMealCategoryNames(); track $index) {
                @if (meal.recipe.mealCategoryId === mealCategory.id) {
                  <div
                    class="card"
                    [class.active]="selectedRecipes().includes(meal.recipe)"
                    (click)="toggleRecipe(meal.recipe)"
                  >
                    <app-meal-recipe-item
                      [recipe]="meal"
                      [canViewRecipe]="false"
                      [canDeleteMeal]="false"
                    />
                  </div>
                }
              }
            </div>
          </div>
        }
      }
    </section>
  }

  <section>
    <app-summary-meal-section mealType="lunch" [servings]="lunchServings" />
    <app-summary-meal-section mealType="dinner" [servings]="dinnerServings" />
  </section>

  <div class="btn-validate-container">
    <button
      class="btn-validate"
      routerLink="/meals"
      (click)="validateAssignment()"
      [disabled]="finalCart().length === 0"
      [class.disabled]="finalCart().length === 0"
    >
      Validate
    </button>
  </div>
</main> -->

<div class="h-full layout-hcf">
  <header class="page-full-width">
    <app-stepper [navStep]="4" />
  </header>

  <div class="page-full-width">
    <app-calendar />
  </div>

  <div class="section-scroll space-y-6 py-4">
    @if (cart().length > 0) {
      <section>
        @for (mealCategory of mealCategoriesSelected(); track $index) {
          @if (cartMealCategoryIds().includes(mealCategory.id)) {
            <div>
              <h2
                class="text-xl text-center text-neutral-900 dark:text-neutral-50"
              >
                {{ mealCategory.name }}
              </h2>
              <p class="w-full h-1 bg-gray-200 dark:bg-gray-700 my-2"></p>

              <div class="flex flex-col justify-between gap-2 my-2">
                @for (meal of cartWithMealCategoryNames(); track $index) {
                  @if (meal.recipe.mealCategoryId === mealCategory.id) {
                    <div
                      class="card"
                      [class.active]="selectedRecipes().includes(meal.recipe)"
                      (click)="toggleRecipe(meal.recipe)"
                    >
                      <app-meal-recipe-item
                        [recipe]="meal"
                        [canViewRecipe]="false"
                        [canDeleteMeal]="false"
                      />
                    </div>
                  }
                }
              </div>
            </div>
          }
        }
      </section>
    }

    <section>
      <app-summary-meal-section mealType="lunch" [servings]="lunchServings" />
      <app-summary-meal-section mealType="dinner" [servings]="dinnerServings" />
    </section>
  </div>

  <div class="page-full-width page-x-padding py-2">
    <app-button
      [disabled]="finalCart().length === 0"
      routerLink="/meals"
      [fullWidth]="true"
      (click)="validateAssignment()"
      >Validate</app-button
    >
  </div>
</div>
