<div class="h-full layout-hcf">
  <app-header-shell
    ><div class="inset-md">
      <app-stepper [navStep]="4" />
      <app-calendar /></div
  ></app-header-shell>

  <app-page-layout maxSize="lg">
    <app-stack variant="page">
      @if (cart().length > 0) {
        @for (mealCategory of mealCategoriesSelected(); track $index) {
          <app-section inset="lg">
            @if (cartMealCategoryIds().includes(mealCategory.id)) {
              <app-stack variant="section">
                <app-row justify="center">
                  <h2 class="font-roboto text-title">
                    {{ mealCategory.name }}
                  </h2>
                </app-row>

                <app-stack>
                  @for (meal of cartWithMealCategoryNames(); track $index) {
                    @if (meal.recipe.mealCategoryId === mealCategory.id) {
                      <div
                        class="recipe-item inset-inline-sm surface-2 surface-interactive"
                        [class.active]="selectedRecipes().includes(meal.recipe)"
                        (click)="toggleRecipe(meal.recipe)"
                      >
                        <app-meal-recipe-item
                          [recipe]="meal"
                          [canViewRecipe]="false"
                          [canDeleteMeal]="false"
                        />
                      </div>
                    }
                  }
                </app-stack>
              </app-stack>
            }
          </app-section>
        }
      }

      <app-section>
        <app-stack variant="section">
          <app-summary-meal-section
            mealType="lunch"
            [servings]="lunchServings"
          />
          <app-summary-meal-section
            mealType="dinner"
            [servings]="dinnerServings"
          />
        </app-stack>
      </app-section>
    </app-stack>
  </app-page-layout>

  <app-section [surface]="0">
    <app-button
      [disabled]="finalCart().length === 0"
      routerLink="/meals"
      [fullWidth]="true"
      (clicked)="validateAssignment()"
      >Validate</app-button
    >
  </app-section>
</div>
