<div class="segmented" [class.w-full]="fullWidth()">
  @for (option of options(); track option; let i = $index) {
    <div class="relative" [class.w-full]="fullWidth()">
      <button
        [class]="classes"
        [class.active]="selected() === option"
        (click)="select(option)"
      >
        {{ option }}
      </button>
      @if (hasBadge() && badgeValues()[i] !== 0) {
        <span
          class="absolute -top-1 -right-1 bg-red-600 text-white text-xs rounded-full w-5 h-5 flex items-center justify-center"
        >
          {{ badgeValues()[i] }}
        </span>
      }
    </div>
  }
</div>
