@if (pageIsLoading()) {
  <app-stack align="center">
    <app-loading />
  </app-stack>
} @else {
  <div class="layout-stack h-dvh">
    <app-header-shell
      ><div class="inset-md">
        <app-stack>
          <h1 class="text-headline font-roboto text-center">
            Select Ingredient
          </h1>
          <div class="w-full relative">
            <i class="fa-solid fa-magnifying-glass fa-xl icon-search"></i>

            <input
              type="text"
              id="search"
              name="search"
              #ingredientInput
              placeholder="Search for an ingredient"
              autocomplete="off"
              [(ngModel)]="inputText"
              (ngModelChange)="inputText.set($event)"
            />

            @if (inputText()) {
              <button type="button" (click)="onResetInput()" class="btn-reset">
                <i class="fa-solid fa-close fa-xl"></i>
              </button>
            }
          </div>
          <div
            class="min-w-0 overflow-x-auto overflow-y-hidden snap-x snap-mandatory scroll-smooth"
          >
            <app-inline>
              @for (
                ingredientCategoryName of ingredientCategoriesNames();
                track ingredientCategoryName
              ) {
                <app-chip
                  size="sm"
                  [selected]="
                    ingredientCategoryNameSelected() === ingredientCategoryName
                  "
                  (toggle)="
                    selectIngredientCategoryName(ingredientCategoryName)
                  "
                  >{{ ingredientCategoryName }}</app-chip
                >
              }
            </app-inline>
          </div>
        </app-stack>
      </div></app-header-shell
    >
    <app-page-layout>
      <app-section>
        <app-stack>
          @for (
            ingredient of ingredientsFiltered();
            track ingredient.id;
            let i = $index
          ) {
            <div
              (click)="selectIngredient(ingredient.id)"
              class="surface-1 surface-interactive p-3 w-full rounded-none sm:rounded-md"
            >
              <app-row>
                <span>{{ ingredient.name }}</span>
                <span class="italic color-text-muted">
                  {{ ingredient.categoryName }}
                </span>
              </app-row>
            </div>
          }
        </app-stack>
      </app-section>
    </app-page-layout>

    <div class="inset-md">
      <app-button [fullWidth]="true" routerLink="/manage-ingredients">
        <app-inline>
          <i class="fa-solid fa-plus text-xl"></i
          ><span>Create new ingredient</span>
        </app-inline>
      </app-button>
    </div>
  </div>
}
