<div class="h-full layout-cf space-y-8 max-w-[860px] mx-auto my-2">
  <div class="surface-1 px-6 py-4 space-y-4">
    <div class="relative">
      <input
        #ingredientInput
        type="text"
        id="name"
        name="name"
        autocomplete="off"
        placeholder="Search for an ingredient"
        class="w-full surface-1 px-2 py-4 rounded-lg"
        [ngModel]="inputText()"
        (ngModelChange)="inputText.set($event)"
      />
      @if (inputText()) {
        <button
          type="button"
          (click)="onResetInput()"
          class="absolute right-5 bottom-5 flex items-center text-gray-400 hover:text-gray-600"
        >
          <i class="fa-solid fa-close fa-xl"></i>
        </button>
      }
    </div>
    <div>
      <app-segmented-control
        [fullWidth]="true"
        size="lg"
        [options]="this.IngredientCategoriesNames()"
        [selectedInput]="ingredientCategoryNameSelected()"
        (selectionChange)="toggleIngredientCategory($event)"
      >
      </app-segmented-control>
    </div>
  </div>

  <div class="section-scroll surface-1 px-2 py-4 rounded-lg space-y-4">
    @for (
      ingredient of ingredientsFiltered();
      track ingredient.id;
      let i = $index
    ) {
      <div
        (click)="selectIngredient(ingredient.id)"
        class="surface-2 surface-interactive p-2 flex-start w-full"
      >
        <div
          class="italic w-1/3 sm:w-1/4 lg:w-1/6 text-neutral-400 dark:text-neutral-500"
        >
          {{ ingredient.typeName }}
        </div>
        <div class="flex-grow">{{ ingredient.name }}</div>
      </div>
    }
  </div>

  <button
    class="btn-navigate-manage-ingredients"
    routerLink="/manage-ingredients"
  >
    <i class="fa-solid fa-plus fa-xl"></i>
  </button>
</div>

<div class="flex flex-col items-center">
  @if (pageIsLoading()) {
    <app-loading />
  }
</div>
