<div class="flex justify-center px-4 py-6">
  <main class="w-full max-w-2xl bg-white">
    @if (isLoading()) {
    <div class="flex flex-col items-center">
      <app-loading />
    </div>
    } @else {
    <div class="flex items-center justify-between gap-4 mb-6">
      <button
        class="bg-primary-600 text-white rounded-full w-8 h-8 shadow-lg"
        (click)="toggleRecipeView()"
      >
        <i
          class="{{
            recipesDisplayedViaCards()
              ? 'fa-regular fa-credit-card'
              : 'fa-solid fa-list-ul'
          }}"
        ></i>
      </button>

      <div class="flex items-center justify-between gap-2">
        <button
          class="bg-primary-600 text-white rounded-full w-8 h-8 shadow-lg"
          routerLink="/meals/filter"
        >
          <i class="fa-solid fa-filter"></i>
        </button>
        <div class="relative inline-block">
          <button
            class="bg-primary-600 text-white rounded-full w-8 h-8 shadow-lg flex items-center justify-center"
            routerLink="/meals/cart"
          >
            <i class="fa-solid fa-cart-shopping"></i>
          </button>
          @if (cart().length > 0) {
          <span class="badge">{{ cart().length }}</span>
          }
        </div>
      </div>
    </div>
    <div class="flex items-center justify-start gap-2 mb-6">
      @for (mealCategory of mealCategories(); track $index) {
      <button
        class="btn-tag"
        (click)="setMealCategory(mealCategory)"
        [class.active]="mealCategoryIdSelected() === mealCategory.id"
      >
        {{ mealCategory.name }}
      </button>
      }
    </div>

    <p>Number of planned meals: {{ mealState().nbPlannedMeals }}</p>
    <h2 class="text-2xl">Selection method</h2>
    <div class="flex items-center justify-start gap-4 mb-6">
      <select id="method" [formControl]="defaultMethod">
        @for (method of methods; track $index) {
        <option [value]="method">
          {{ method }}
        </option>
        }
      </select>
      <div class="flex items-center gap-2 rounded-lg bg-gray-100 px-4 py-2">
        <button (click)="decreaseRatio()">
          <i class="fa-solid fa-minus"></i>
        </button>
        <div class="px-2">
          Ratio <span>{{ ratio() }}</span>
        </div>
        <button (click)="increaseRatio()">
          <i class="fa-solid fa-plus"></i>
        </button>
      </div>
      <div class="flex items-center justify-start gap-1">
        <p class="text-2xl">{{ recipesFilteredByCategory().length }}</p>
        <i class="fa-solid fa-utensils"></i>
      </div>
    </div>

    <h2 class="text-2xl">Ingredient Categories</h2>
    <div class="flex flex-wrap items-center justify-start gap-2 mb-6">
      @for (ingredientCategory of ingredientCategoriesByMealCategory(); track
      $index) {
      <button
        class="btn-tag"
        [class.active]="
          ingredientCategoriesSelected().includes(ingredientCategory)
        "
        (click)="setIngredientCategory(ingredientCategory)"
      >
        {{ ingredientCategory.name | capitalize }}
      </button>
      }
    </div>

    @if (recipesDisplayedViaCards()) {
    <div class="cards-container">
      @for (recipe of recipesFilteredByCategory(); track $index) {

      <div
        class="card"
        [class.active]="selectedRecipes().includes(recipe)"
        (click)="toggleRecipe(recipe)"
      >
        <app-recipe-card [recipeState]="recipe"></app-recipe-card>
      </div>
      }
    </div>
    } @else {

    <div class="flex flex-col items-start justify-items gap-2 mb-2">
      @for (recipe of recipesFilteredByCategory(); track $index) {
      <div
        class="list-item"
        [class.active]="selectedRecipes().includes(recipe)"
        (click)="toggleRecipe(recipe)"
      >
        <div class="font-semibold">{{ recipe.title }}</div>
        <div>{{ getCuisineName(recipe.cuisineId) }}</div>
      </div>
      }
    </div>
    } @if (selectedRecipes().length > 0) {
    <div
      class="flex items-center justify-end mr-4 mb-4"
      (click)="addRecipesToCart()"
    >
      <button class="btn-add-to-cart">
        <i class="fa-solid fa-cart-shopping fa-lg"></i>
      </button>
    </div>
    } }
  </main>
</div>
