<div class="h-full layout-hcf">
  <app-header-shell
    ><div class="inset-md">
      <app-stepper [navStep]="3" /></div
  ></app-header-shell>
  <app-page-layout maxSize="lg">
    <app-section inset="lg">
      <app-stack variant="section">
        <app-row>
          <h2 class="font-roboto text-title">Selection method</h2>
        </app-row>
        <div
          class="overflow-x-auto overflow-y-hidden flex gap-4 snap-x snap-mandatory scroll-smooth"
        >
          <app-segmented-control
            [fullWidth]="false"
            size="sm"
            [options]="this.categoriesNames()"
            [selectedInput]="mealCategoryNameSelected()"
            (selectionChange)="toggleMealCategory($event)"
          >
          </app-segmented-control>
        </div>

        <app-inline>
          <app-select
            [options]="recipeMethods"
            [control]="methodControl"
            [responsive]="true"
          ></app-select>

          <div class="surface-2 rounded-xl inset-sm">
            <app-inline gap="lg">
              <button>
                <i class="fa-solid fa-minus" (click)="decreaseRatio()"></i>
              </button>
              <app-inline gap="sm">
                <span class="whitespace-nowrap"> {{ mealRatio() }}</span>
                <i class="fa-solid fa-calculator"></i>
              </app-inline>
              <button>
                <i class="fa-solid fa-plus" (click)="increaseRatio()"></i>
              </button>
            </app-inline>
          </div>

          <app-inline gap="sm">
            <span class="text-title">{{
              recipesFilteredByCategory().length
            }}</span>
            <span>meals</span>
          </app-inline>
        </app-inline>
      </app-stack>
    </app-section>

    <app-section>
      <app-stack variant="section">
        <div (click)="toggleShowIngredientCategories()">
          <app-row>
            <h2 class="text-title font-roboto">Ingredient Categories</h2>
            @if (showIngredientCategories()) {
              <i class="fa-solid fa-caret-up fa-xl"></i>
            } @else {
              <i class="fa-solid fa-caret-down fa-xl"></i>
            }
          </app-row>
        </div>
        @if (showIngredientCategories()) {
          <app-inline [wrap]="true">
            @for (
              ingredientCategory of ingredientCategoriesByMealCategory();
              track $index
            ) {
              <app-chip
                [fullWidth]="false"
                size="sm"
                [selected]="
                  ingredientCategoriesSelected().includes(ingredientCategory)
                "
                (toggle)="setIngredientCategory(ingredientCategory)"
                >{{ ingredientCategory.name | capitalize }}</app-chip
              >
            }
          </app-inline>
        }
      </app-stack>
    </app-section>

    <app-section>
      <app-stack variant="section">
        <app-row justify="end">
          <app-segmented-control
            [fullWidth]="false"
            size="sm"
            [options]="['Card', 'List']"
            [selectedInput]="viewMode()"
            (selectionChange)="toggleView($event)"
          >
          </app-segmented-control>
        </app-row>
        @if (viewMode() === "Card") {
          <app-grid-responsive [colsMd]="3" [colsLg]="4" gap="sm">
            @for (recipe of recipesFilteredByCategory(); track $index) {
              <app-recipe-card
                [recipeState]="recipe"
                (click)="toggleRecipe(recipe)"
                [activated]="selectedRecipes().includes(recipe)"
                cardSurface="2"
              ></app-recipe-card>
            }
          </app-grid-responsive>
        } @else {
          <app-stack>
            @for (recipe of recipesFilteredByCategory(); track $index) {
              <div
                class="recipe-item inset-inline-sm surface-2 surface-interactive"
                [class.active]="selectedRecipes().includes(recipe)"
                (click)="toggleRecipe(recipe)"
              >
                <app-row>
                  <app-inline>
                    @if (selectedRecipes().includes(recipe)) {
                      <i class="fa-solid fa-check"></i>
                    }
                    <span>{{ recipe.title }}</span>
                  </app-inline>

                  <span class="color-text-muted text-meta">
                    {{ getCuisineName(recipe.cuisineId) }}
                  </span>
                </app-row>
              </div>
            }
          </app-stack>
        }
      </app-stack>
    </app-section>
  </app-page-layout>

  <app-section [surface]="0">
    <app-button
      [fullWidth]="true"
      [disabled]="cartItems().length === 0"
      routerLink="/meals/cart"
      >{{ btnValidateCartText() }}</app-button
    >
  </app-section>

  @if (selectedRecipes().length > 0) {
    <app-floating-button
      (clicked)="addRecipesToCart()"
      color="secondary"
    ></app-floating-button>
  }
</div>
