header {
  /* @apply surface-nav fixed top-0 w-full h-8vh; */
  /* @apply surface-nav w-full h-16; */
  @apply surface-nav shrink-0;
}

.active-link {
  background-color: coral;
  color: #1512c4;
  font-weight: bold;
}
