<div class="space-y-8">
  <h1 class="title">Family members</h1>

  <section class="surface-1 flex-col-center gap-2">
    <app-segmented-control
      [fullWidth]="false"
      size="lg"
      [options]="['parent', 'child']"
      [selectedInput]="memberType()"
      (selectionChange)="toggleMember($event)"
    >
    </app-segmented-control>

    @if (
      (getMembersByTypeComputed("parent").length < 4 ||
        memberType() === "child") &&
      !isLoading()
    ) {
      <app-member-modal [type]="memberType()" [title]="modalTitle()"
        ><div class="mx-auto text-center">
          <app-button variant="ghost" size="md"
            ><i class="fa fa-plus fa-xl mr-2"></i>Add
            {{ memberType() }}</app-button
          >
        </div>
      </app-member-modal>
    }
  </section>

  <section class="member-cards-container">
    @if (isLoading()) {
      <app-loading />
    }
    @for (member of dbMembers(); track $index) {
      @if (member.type === memberType() && !isLoading()) {
        <app-member [member]="member" [members]="dbMembers()" />
      }
    }
  </section>
</div>
