<div class="items-container">
  <ul>
    @for (cuisine of dbCuisines(); track $index) {
      <li>
        <span>{{ cuisine.name | capitalize }}</span>
        <div class="buttons-container">
          <button type="button">
            <button type="button" (click)="openModalUpdateCuisine(cuisine)">
              <i
                class="fa-regular fa-pen-to-square text-primary-600 dark:text-primary-500 text-xl"
              ></i>
            </button>
          </button>
          <button (click)="openDeleteModal($event, cuisine.id)">
            <i
              class="fa-solid fa-trash-arrow-up fa-md text-red-500 dark:text-red-700"
            ></i>
          </button>
        </div>
      </li>
    }
  </ul>
</div>
<div class="fixed bottom-20 left-1/2 -translate-x-1/2 z-50">
  <button
    class="bg-secondary-600 rounded-full p-2 w-12 h-12 text-white shadow-lg"
    (click)="openModalAddCuisine()"
  >
    <i class="fa-solid fa-plus fa-xl"></i>
  </button>
</div>

<!-- <app-modal-input
  title="Enter new cuisine"
  [inputValue]="cuisineName()"
  [existingItems]="dbCuisines()"
  btnConfirmText="Apply"
  btnConfirmColor="primary"
  [isModalOpen]="showModalAddCuisine()"
  (confirmEventTest)="onConfirmModalAddCuisine($event)"
/>

<app-modal-input
  title="Update cuisine"
  [inputValue]="cuisineNameToUpdate()"
  [existingItems]="dbCuisines()"
  btnConfirmText="Update"
  btnConfirmColor="primary"
  [isModalOpen]="showModalUpdateCuisine()"
  (confirmEventTest)="onConfirmModalUpdateCuisine($event)"
/> -->

<div class="flex flex-col items-center">
  @if (canShowPage()) {
    <app-loading />
  }
</div>
