<div
  class="bg-white dark:bg-gray-800 rounded-lg shadow-lg w-full max-w-sm mb-6"
>
  <div
    class="bg-gray-300 dark:bg-gray-700 text-gray-900 dark:text-white text-center text-2xl mb-4 py-2 rounded-t-lg"
  >
    {{ title }}
  </div>
  <form class="p-6" [formGroup]="memberForm">
    <div class="flex items-center mb-6 justify-between gap-4">
      <label for="name" class="block text-gray-600 dark:text-gray-400 w-1/4"
        >Name</label
      >
      <span>{{ member().name }}</span>
    </div>
    <div class="flex items-center mb-6 justify-between gap-4">
      <label for="sex" class="block text-gray-600 dark:text-gray-400 w-1/4"
        >Sex</label
      >
      <span>{{ member().sex }}</span>
    </div>
    <div class="flex items-center mb-6 justify-between gap-4">
      <label for="birthday" class="block text-gray-600 dark:text-gray-400 w-1/4"
        >Birthday</label
      >
      <span>{{ member().birthday | date }}</span>
    </div>

    <div class="flex items-center justify-between gap-x-8">
      <app-button
        color="danger"
        btnStyle="outlined"
        (click)="onConfirmRemoveMember()"
        >Remove</app-button
      >

      <app-modal-confirm
        title="Delete confirmation"
        message="Do you really want to remove this member? You will lose all your data..."
        btnConfirmText="Delete"
        btnConfirmColor="danger"
        [isModalOpen]="showConfirmModal"
        (confirmEvent)="onConfirmModalAction($event)"
      />

      <app-member-modal
        title="Update member"
        [id]="member().id"
        [type]="member().type"
        [name]="member().name"
        [sex]="member().sex"
        [birthday]="member().birthday"
        [mainBtnText]="'Update'"
        ><div class="mx-auto text-center">
          <app-button type="submit">Update</app-button>
        </div>
      </app-member-modal>
    </div>
  </form>
</div>
