<app-stack variant="page">
  <app-section>
    <app-stack variant="compact">
      <app-form-grid maxContent="1fr_max-content" [responsive]="true">
        <textarea
          [value]="instruction()"
          (input)="instruction.set($any($event.target).value)"
          class="p-2"
          placeholder="Add a new instruction"
          rows="2"
          (keydown)="onAddInstructionTextAreaKeyDown($event)"
        ></textarea>

        <app-button
          variant="filled"
          (clicked)="addInstruction()"
          [disabled]="addButtonIsDisabled()"
          [fullWidth]="true"
        >
          <app-inline gap="sm"
            ><i class="fa fa-plus"></i><span>Add</span></app-inline
          >
        </app-button>
      </app-form-grid>

      @if (instructionErrors() === "minlength") {
        <p class="error">Minimum length is 5 characters.</p>
      }

      @if (instructionErrors() === "maxlength") {
        <p class="error">Maximum length is 100 characters.</p>
      }
    </app-stack>
  </app-section>

  @if (recipeInstructions().length > 0) {
    <app-section>
      <app-stack>
        @for (
          instruction of recipeInstructions();
          track $index;
          let i = $index
        ) {
          <app-row>
            <!-- @if (editInstructionIndex() !== i) {
              <div
                class="border-l-2 inset-x-md border-l-primary-300 dark:border-l-primary-700"
              >
                <app-stack>
                  <span
                    class="text-neutral-500 dark:text-neutral-400 font-bold text-[12px]"
                  >
                    STEP {{ i + 1 }}
                  </span>
                  @for (item of instruction.split("\n"); track $index) {
                    <span class="dark:text-white">{{ item }}</span>
                  }
                </app-stack>
              </div>
            } @else {
              <textarea
                [value]="recipeInstructions()[i]"
                #editInput
                class="tag-input w-full"
                (keydown)="onEditInstructionTextAreaKeyDown(i, $event)"
                rows="2"
              ></textarea>
            } -->
            <div
              class="border-l-2 inset-x-md border-l-primary-300 dark:border-l-primary-700"
            >
              <app-stack>
                <span
                  class="text-neutral-500 dark:text-neutral-400 font-bold text-[12px]"
                >
                  STEP {{ i + 1 }}
                </span>
                @for (item of instruction.split("\n"); track $index) {
                  <span class="dark:text-white">{{ item }}</span>
                }
              </app-stack>
            </div>

            <app-inline>
              <!-- <app-button
                size="sm"
                [color]="editInstructionIndex() === i ? 'success' : 'primary'"
                variant="ghost"
                (clicked)="
                  editInstructionIndex() === i
                    ? onUpdateInstruction(i)
                    : onFocusInstruction(i)
                "
                ><i
                  [class]="
                    editInstructionIndex() === i
                      ? 'fa-solid fa-check text-xl'
                      : 'fa-regular fa-pen-to-square text-xl'
                  "
                ></i>
              </app-button> -->

              <app-button
                size="sm"
                variant="ghost"
                (clicked)="openUpdateInstructionModal(i)"
                ><i class="fa-regular fa-pen-to-square text-xl"></i>
              </app-button>

              <app-button
                color="danger"
                size="sm"
                variant="ghost"
                (clicked)="onDeleteInstruction(i)"
                ><i class="fa-regular fa-trash-can text-xl"></i>
              </app-button>
            </app-inline>
          </app-row>
        }
      </app-stack>
    </app-section>
  }
</app-stack>
