<form class="form-grid" [formGroup]="form">
  <div class="flex items-center justify-between gap-2">
    <textarea
      id="instruction"
      name="instruction"
      formControlName="instruction"
      class="w-full p-2"
      placeholder="Add a new instruction"
      rows="2"
      (keydown)="onAddInstructionTextAreaKeyDown($event)"
    ></textarea>

    <button (click)="addInstruction()" class="btn-add">
      <i class="fa fa-plus"></i>
    </button>
  </div>

  <div
    class="validator"
    *ngIf="form.get('instruction')?.touched && form.get('instruction')?.invalid"
  >
    <small *ngIf="form.get('instruction')?.errors?.['minlength']"
      >Instruction must be at least 5 characters long.</small
    >
    <small *ngIf="form.get('instruction')?.errors?.['maxlength']"
      >Instruction must be no greater than 50 characters long.</small
    >
  </div>

  <ul>
    <li
      *ngFor="let instruction of recipeInstructions(); let i = index"
      class="rounded-sm mb-2"
    >
      <div class="flex items-center justify-between gap-2">
        <ng-container *ngIf="editInstructionIndex() !== i; else editMode">
          <div
            class="flex flex-col px-4 py-2 w-full border-l-2 border-l-gray-500 dark:border-l-gray-400"
          >
            <p class="text-gray-500 dark:text-gray-400 font-bold text-[12px]">
              STEP {{ i + 1 }}
            </p>
            @for (item of instruction.split('\n'); track $index) {
            <div class="dark:text-white">{{ item }}</div>
            }
          </div>
        </ng-container>

        <ng-template #editMode>
          <textarea
            [value]="recipeInstructions()[i]"
            #editInput
            class="tag-input w-full"
            (keydown)="onEditInstructionTextAreaKeyDown(i, $event)"
            rows="2"
          ></textarea>
        </ng-template>

        <div class="flex items-center justify-between gap-2">
          <ng-container>
            @if (editInstructionIndex() !== i) {
            <button type="button" (click)="onFocusInstruction(i)">
              <i
                class="fa-regular fa-pen-to-square text-primary-600 dark:text-primary-500 text-xl"
              ></i>
            </button>
            } @else {
            <button type="button" (click)="onUpdateInstruction(i)">
              <i
                class="fa-solid fa-check text-green-600 dark:text-success-500 text-xl"
              ></i>
            </button>
            }
          </ng-container>

          <button
            type="button"
            class="bg-transparent"
            (click)="onDeleteInstruction(i)"
          >
            <i
              class="fa-regular fa-trash-can text-danger-600 dark:text-danger-500 text-xl"
            ></i>
          </button>
        </div>
      </div>
    </li>
  </ul>
</form>
