<form class="form-grid">
  <div class="flex items-center justify-between gap-2">
    <textarea
      [value]="instruction()"
      (input)="instruction.set($any($event.target).value)"
      class="w-full p-2"
      placeholder="Add a new instruction"
      rows="2"
      (keydown)="onAddInstructionTextAreaKeyDown($event)"
    ></textarea>

    <app-button
      variant="surface"
      (click)="addInstruction()"
      [disabled]="addButtonIsDisabled()"
      ><i class="fa fa-plus"></i>
    </app-button>
  </div>

  @if (instructionErrors() === "minlength") {
    <p class="error">Minimum length is 5 characters.</p>
  }

  @if (instructionErrors() === "maxlength") {
    <p class="error">Maximum length is 100 characters.</p>
  }

  <ul>
    <li
      *ngFor="let instruction of recipeInstructions(); let i = index"
      class="rounded-sm mb-2"
    >
      <div class="flex items-center justify-between gap-2">
        <ng-container *ngIf="editInstructionIndex() !== i; else editMode">
          <div
            class="flex flex-col px-4 py-2 w-full border-l-2 border-l-gray-500 dark:border-l-gray-400"
          >
            <p class="text-gray-500 dark:text-gray-400 font-bold text-[12px]">
              STEP {{ i + 1 }}
            </p>
            @for (item of instruction.split("\n"); track $index) {
              <div class="dark:text-white">{{ item }}</div>
            }
          </div>
        </ng-container>

        <ng-template #editMode>
          <textarea
            [value]="recipeInstructions()[i]"
            #editInput
            class="tag-input w-full"
            (keydown)="onEditInstructionTextAreaKeyDown(i, $event)"
            rows="2"
          ></textarea>
        </ng-template>

        <div class="flex-between">
          <ng-container>
            @if (editInstructionIndex() !== i) {
              <app-button
                size="sm"
                variant="ghost"
                (click)="onFocusInstruction(i)"
                ><i class="fa-regular fa-pen-to-square text-xl"></i>
              </app-button>
            } @else {
              <app-button
                color="success"
                size="sm"
                variant="ghost"
                (click)="onUpdateInstruction(i)"
                ><i class="fa-solid fa-check text-xl"></i>
              </app-button>
            }
          </ng-container>

          <div class="flex items-center justify-between gap-2 ml-4">
            <app-button
              color="danger"
              size="sm"
              variant="ghost"
              (click)="onDeleteInstruction(i)"
              ><i class="fa-regular fa-trash-can text-xl"></i>
            </app-button>
          </div>
        </div>
      </div>
    </li>
  </ul>
</form>
