@if (modalService.config(); as config) {
  <div
    class="fixed inset-0 z-50 flex items-start sm:items-center justify-center"
    (click)="modalService.cancel()"
  >
    <!-- Backdrop -->
    <div class="absolute inset-0 bg-neutral-950/60 backdrop-blur-sm"></div>

    <div
      class="relative w-full sm:max-w-lg max-h-[90dvh] modal z-10 overflow-y-auto"
      (click)="$event.stopPropagation()"
    >
      <ng-container
        *ngComponentOutlet="config.component; inputs: config.data"
      />
    </div>
  </div>
}
