@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./styles/surfaces";
@import "./styles/geometries";
@import "./styles/texts";
@import "./styles/colors";
@import "./styles/layouts";
@import "./styles/container";
@import "./styles/inset";
@import "./styles/space";
@import "./styles/margin";
@import "./styles/density";
@import "./styles/segmented_control";
@import "./styles/grid";
@import "./styles/select";
@import "./styles/buttons";
@import "./styles/tags";
@import "./styles/fields";
@import "./styles/chips";
@import "./styles/utilities";

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625;
}
