@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./styles/surfaces";
@import "./styles/texts";
@import "./styles/colors";
@import "./styles/layouts";
@import "./styles/segmented_control";
@import "./styles/select";
@import "./styles/buttons";
@import "./styles/chips";
@import "./styles/utilities";

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p {
  font-size: 1rem;
}
