@if (canShowPage()) {
  <div class="flex flex-col items-center">
    <app-loading />
  </div>
} @else {
  <div class="main-container">
    <section class="surface-1 sticky-top page-full-width">
      <app-recipe-search
        [(filter)]="filterText"
        [recipesFilteredByTitle]="recipesFilteredByTitle()"
        [recipesFiltered]="recipesFiltered()"
        [dbMealCategories]="dbMealCategories()"
        [dbCuisines]="dbCuisines()"
        [dbRecipeCategories]="dbRecipeCategories()"
        [dbIngredients]="dbIngredients()"
        [dbIngredientCategories]="dbIngredientCategories()"
      />
    </section>

    <section class="cards">
      @for (recipe of recipesFiltered(); track $index) {
        <app-recipe-card
          [recipeState]="recipe"
          (click)="clickOnRecipeCard(recipe)"
        ></app-recipe-card>
      }
    </section>
  </div>

  <button class="btn-add-recipe" routerLink="/new-recipe">
    <i class="fa-solid fa-plus fa-xl"></i>
  </button>
}
