.main-container {
  @apply space-y-6;
}

.title {
  @apply text-3xl my-6 text-center;
}

.cards {
  @apply grid grid-cols-2 gap-2 px-2 sm:grid-cols-3 sm:gap-4 sm:px-4 lg:grid-cols-4 lg:gap-8 lg:px-8;
}

.card {
  @apply p-2 rounded-lg hover:bg-neutral-100 dark:hover:bg-neutral-900 transform transition-all duration-300;
}

.btn-add-recipe {
  @apply bg-secondary rounded-full p-2 w-12 h-12 text-neutral-50 dark:text-neutral-950 fixed bottom-12 shadow-2xl left-1/2 -translate-x-1/2 z-50;
}

.btn-add-recipe::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 9999px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  z-index: -1;
}
