<form [formGroup]="form">
  <app-stack>
    <app-inline>
      <input
        type="text"
        id="name"
        name="name"
        formControlName="name"
        placeholder="Add a new ingredient"
        autocomplete="off"
        (keydown)="onIngredientEnterPress($event)"
      />

      <app-button (clicked)="addIngredient()" [disabled]="buttonIsDisabled()"
        ><i class="fa fa-plus"></i
      ></app-button>
    </app-inline>

    @if (!ingredientCategorySelected() && form.get("name")?.value) {
      <small class="info">Select a category first</small>
    }

    @if (form.get("name")?.invalid && form.get("name")?.errors?.["maxlength"]) {
      <small class="danger"
        >Ingredient must be no greater than 40 characters long.</small
      >
    }
    @if (nameAlreadyExists()) {
      <small class="danger"
        >This ingredient already exists in the database.</small
      >
    }
  </app-stack>
</form>

@if (ingredientBeingSaved()) {
  <app-stack align="center">
    <app-loading />
  </app-stack>
}
