<form [formGroup]="form">
  <div class="flex gap-2 mt-8 mx-2">
    <input
      type="text"
      id="name"
      name="name"
      formControlName="name"
      autocomplete="off"
      placeholder="Add a new ingredient"
      class="flex-grow"
      (keydown)="onIngredientEnterPress($event)"
    />

    <button
      (click)="addIngredient()"
      class="btn-add"
      [disabled]="buttonIsDisabled()"
      [class.disabled]="buttonIsDisabled()"
    >
      <i class="fa fa-plus"></i>
    </button>
  </div>

  <div class="validator mx-2" *ngIf="form.get('name')?.invalid">
    <small *ngIf="form.get('name')?.errors?.['maxlength']"
      >Ingredient must be no greater than 40 characters long.</small
    >
  </div>
  @if (nameAlreadyExists()) {<small
    >This ingredient already exists in the database.</small
  >}
</form>

<div class="flex flex-col items-center">
  @if (pageIsLoading()) {
  <app-loading />
  }
</div>
